@charset "UTF-8";
/* || GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: contain, 100%;
}
@media only screen and (min-width: 910px) {
  body {
    height: 100vh;
    background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    background-size: auto;
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 910px) {
  main {
    height: 100%;
  }
}

.wrapper {
  margin: auto;
}
@media only screen and (min-width: 600px) {
  .wrapper {
    padding: 0 2rem;
  }
}
@media only screen and (min-width: 1180px) {
  .wrapper {
    padding: 0;
  }
}

.container {
  max-width: 890px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5.1rem 1.5rem 2.35rem 1.5rem;
}
@media only screen and (min-width: 910px) {
  .container {
    flex-direction: row;
    max-width: 1110px;
    padding: 8.1rem 0 0 0;
  }
}

/* || UTILITIES */
.intro {
  text-align: center;
}
@media only screen and (min-width: 910px) {
  .intro {
    flex-basis: 50%;
    padding-right: 5rem;
    text-align: left;
  }
}

.intro__title {
  font-size: 2em;
  font-weight: 700;
  line-height: 2rem;
  color: #502050;
}
@media only screen and (min-width: 910px) {
  .intro__title {
    max-width: 460px;
    font-size: 3.3em;
    line-height: 3rem;
    letter-spacing: -0.17rem;
  }
}

.intro__info {
  padding-top: 1.5rem;
  font-weight: 500;
  line-height: 1.55rem;
  letter-spacing: -0.03rem;
  color: #937b92;
}
@media only screen and (min-width: 910px) {
  .intro__info {
    max-width: 460px;
    padding-top: 1rem;
  }
}

.rates {
  padding-top: 1.5rem;
  padding-bottom: 1.25rem;
}
@media only screen and (min-width: 910px) {
  .rates {
    flex-basis: 50%;
    padding: 0;
  }
}

@media only screen and (min-width: 910px) {
  .rates-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    margin-left: 1.1rem;
  }
}

.rates-content__rate {
  margin: 0.9rem 0;
  padding: 1rem;
  font-size: 0.87em;
  text-align: center;
  font-weight: 700;
  color: #502050;
  background-color: #f7f2f7;
  border-radius: 10px;
}
@media only screen and (min-width: 910px) {
  .rates-content__rate {
    display: flex;
    flex-direction: row;
    max-width: calc(890px / 2);
    width: 100%;
    margin: 0.45rem 0;
    padding: 1.35rem 1rem 1rem 1.6rem;
  }
  .rates-content__rate:first-child {
    align-self: flex-start;
  }
  .rates-content__rate:last-child {
    align-self: flex-end;
  }
}

.rates-content__stars {
  padding-bottom: 0.745rem;
}
@media only screen and (min-width: 910px) {
  .rates-content__stars {
    padding: 0;
    padding-right: 1.9rem;
  }
}

.rates-content__stars img {
  padding: 0 0.15rem;
}

@media only screen and (min-width: 910px) {
  .testimonials {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 297px;
    margin-top: 3.4rem;
    margin-bottom: 2.4rem;
  }
}

.testimon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem 0;
  padding: 2.5rem 2rem 1.9rem 2rem;
  font-size: 0.87em;
  line-height: 1.4rem;
  background-color: #502050;
  border-radius: 10px;
}
@media only screen and (min-width: 910px) {
  .testimon {
    width: 32%;
    max-width: 350px;
    min-height: 235px;
    margin: 1rem 0;
    padding-top: 2rem;
  }
  .testimon:first-child {
    align-self: flex-start;
  }
  .testimon:last-child {
    align-self: flex-end;
  }
}

.testimon__avatar {
  width: 40px;
  border-radius: 100%;
}

.testimon__author-info {
  padding-left: 1.4rem;
  line-height: 1.3rem;
}

.testimon__author {
  font-weight: 700;
  color: white;
}

.testimon__appointment {
  color: #ee68a4;
}

.testimon__quote {
  flex-grow: 2;
  padding-top: 1.5rem;
  letter-spacing: -0.025rem;
  word-spacing: 0.08rem;
  color: white;
}
@media only screen and (min-width: 910px) {
  .testimon__quote {
    padding-top: 0.8rem;
  }
}

.testimon__text::before {
  content: "“";
}

.testimon__text::after {
  content: "”";
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1rem;
  color: #502050;
}

.attribution__link {
  color: #502050;
}