* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: #413a3a;
  background: linear-gradient(white, #fff5f5);
}
@media only screen and (min-width: 961px) {
  body {
    background-image: url("../images/bg-pattern-desktop.svg"), linear-gradient(135deg, white, #fff5f5);
    background-repeat: no-repeat;
    background-size: 57.64% 100%;
  }
}

img {
  display: block;
}

.master-page {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 961px) {
  .master-page {
    flex-wrap: wrap;
    max-width: 2560px;
    min-height: 700px;
  }
}

.logo {
  padding: 1.96rem 1.97rem;
}
.logo img {
  width: 6.25rem;
}
@media only screen and (min-width: 961px) {
  .logo {
    flex-grow: 1;
    padding-top: 4rem;
    padding-bottom: 1.5rem;
    padding-left: 10.3rem;
    width: 57.64%;
  }
  .logo img {
    width: 158px;
  }
}

.hero-img {
  height: 100%;
  min-height: 200px;
  background-image: url("../images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
@media only screen and (min-width: 961px) {
  .hero-img {
    order: 3;
    flex-grow: 2;
    align-self: flex-end;
    width: 42.36%;
    overflow: hidden;
    background-image: url("../images/hero-desktop.jpg");
  }
}

.content {
  margin: 0 auto;
  padding: 4.125rem 2rem 2.2rem 2rem;
  max-width: 510px;
  text-align: center;
}
@media only screen and (min-width: 961px) {
  .content {
    margin: 0;
    padding-top: 2.7rem;
    padding-left: 10.3rem;
    flex-grow: 1;
    max-width: 640px;
    width: 57.64%;
    text-align: left;
  }
}

.content__title {
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 0.68rem;
  line-height: 2.62rem;
}
.content__title span {
  font-weight: 300;
  color: #ce9797;
}
@media only screen and (min-width: 961px) {
  .content__title {
    font-size: 4em;
    letter-spacing: 1.08rem;
    line-height: 4.3rem;
  }
}

.content__text {
  padding: 1rem 0;
  font-size: 0.9em;
  line-height: 1.35rem;
  letter-spacing: -0.008rem;
  color: #ce9797;
}
@media only screen and (min-width: 961px) {
  .content__text {
    font-size: 1em;
    line-height: 1.7rem;
    letter-spacing: 0.004rem;
    padding-top: 1.4rem;
    padding-bottom: 1.5rem;
  }
}

.content__send-form {
  position: relative;
  margin: 1rem 0;
}

.content__email-field {
  width: 100%;
  height: 47px;
  padding-left: 1.5rem;
  padding-right: 4.5rem;
  color: #ce9797;
  background: transparent;
  border: 1px solid rgba(206, 151, 151, 0.5);
  border-radius: 50px;
}
.content__email-field::placeholder {
  font-size: 0.85rem;
  font-family: "Josefin Sans", sans-serif;
  color: rgba(206, 151, 151, 0.5);
}
.content__email-field:focus {
  outline: none;
}
@media only screen and (min-width: 961px) {
  .content__email-field {
    font-size: 1em;
    height: 57px;
    padding-left: 1.8rem;
    padding-right: 7rem;
  }
  .content__email-field::placeholder {
    font-size: 1em;
  }
}

.content__btn-container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 50px;
}

.content__send-btn {
  padding: 0.87rem 1.5rem 0.87rem 1.7rem;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border: none;
  border-radius: 50px;
  box-shadow: 0 14px 20px 0 rgba(206, 151, 151, 0.5);
  cursor: pointer;
}
.content__send-btn:hover {
  opacity: 0.5;
}
@media only screen and (min-width: 961px) {
  .content__send-btn {
    padding: 1.155rem 2.65rem;
  }
}

.attribution {
  padding: 1rem 0;
  font-size: 11px;
  text-align: center;
  color: #ce9797;
}
@media only screen and (min-width: 961px) {
  .attribution {
    text-align: left;
    padding-left: 10.3rem;
  }
}

.attribution a {
  color: #ce9797;
}

.invalid {
  border: 2px solid #f96262;
}

.error {
  position: relative;
}
.error::before {
  content: "Please provide a valid email!";
  position: absolute;
  top: 4.3rem;
  left: 2rem;
  font-size: 0.8em;
  color: #f96262;
}
.error::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../images/icon-error.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  transform: translateY(-0.1rem);
}
@media only screen and (min-width: 961px) {
  .error::after {
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    right: 7rem;
  }
}