@use 'vars' as *;
@use 'mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: $ff;
    font-size: 15px;
    color: $fc-main;
    background-color: $bg-main;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;
    height: 100%;
}

.wrapper {
    margin: auto;
    padding: 1.25rem;
}

.section-container {
    margin-top: 4rem;
    max-width: 685px;
    
    @include respond-desktop {
        // margin-top: 49px; // Center the container vertically subtracting the height of attribution element.
        margin-top: 60px;
        max-width: max-content;
    }
}

.header {
    padding: 0 1rem;
    font-size: 0.81em;
    text-align: center;

    @include respond-desktop {
        margin: 0 auto;
        max-width: 610px;
        font-size: 1.2em;
        letter-spacing: 0.015rem;
    }
}

.header__title {
    @include respond-desktop {
        line-height: 3.2rem;
    }
}

.header__title span {
    font-weight: 200;
}

.header__text {

    margin: 0 auto;
    max-width: 540px;
    padding-top: 1rem;
    padding-bottom: 4rem;
    font-size: 1.25em;
    line-height: 1.5rem;
    color: $fc-light;

    @include respond-desktop {

        padding-top: 1.1rem;
        padding-bottom: 3.1rem;
        font-size: 0.85em;
        line-height: 1.5rem;
        letter-spacing: -0.005rem;
    }
}

.cards-container {
    display: flex;
    flex-direction: column;

    @include respond-desktop {
        flex-direction: row;
    }
}

.cards-item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @include respond-desktop {
        flex-basis: 33.3%;
        justify-content: center;
    }
}