@use 'vars' as *;
@use 'mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: $ff;
    font-size: 15px;
    color: $fc-main;
    background-color: $bg-main;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;
    height: 100%;
}

.wrapper {
    margin: auto;
    padding: 1.25rem;
}

.section-container {
    margin-top: 49px; // Center the container vertically subtracting the height of attribution element.
    max-width: 685px;

    @include respond-desktop {
        max-width: max-content;
    }
}

.header {
    padding: 0 1.5rem;
    font-size: 0.8em;
    text-align: center;

    @include respond-desktop {
        margin: 0 auto;
        max-width: 610px;
    }
}

.header__title span {
    font-weight: 200;
}

.header__text {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    font-size: 1.3em;
    color: $fc-light;
}

.cards-container {
    display: flex;
    flex-direction: column;

    @include respond-desktop {
        flex-direction: row;
    }
}

.cards-item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @include respond-desktop {
        flex-basis: 33.3%;
        justify-content: center;
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0.75rem;
    padding: 2rem 1.75rem 1.75rem 2rem;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 11px 25px -4px hsl(214deg 51% 48% / 24%);

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 4px;
        background-color: grey;
    }

    @include respond-desktop {
        max-width: 350px;
    }
}

.card__title {
    font-size: 1.3em;
}

.card__text {
    margin-top: 0.4rem;
    margin-bottom: 2rem;
    font-size: 0.9em;
    line-height: 1.4rem;
    color: $fc-light;
}

.card__img {
    align-self: flex-end;

    img {
        width: 90%;
    }
}