// Colors
$bg-main: hsl(0, 0%, 98%);
$fc-main: hsl(234, 12%, 34%);
$fc-light: hsl(229, 6%, 66%);
$card-decor-cyan: hsl(180, 62%, 55%);
$card-decor-red: hsl(0, 78%, 62%);
$card-decor-orange: hsl(34, 97%, 64%);
$card-decor-blue: hsl(212, 86%, 64%);

// Fonts
$ff: 'Poppins', sans-serif;