* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #4c4e61;
  background-color: #fafafa;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
  height: 100%;
}

.wrapper {
  margin: auto;
  padding: 1.25rem;
}

.section-container {
  margin-top: 4rem;
  max-width: 685px;
}
@media only screen and (min-width: 800px) {
  .section-container {
    margin-top: 60px;
    max-width: max-content;
  }
}

.header {
  padding: 0 1rem;
  font-size: 0.81em;
  text-align: center;
}
@media only screen and (min-width: 800px) {
  .header {
    margin: 0 auto;
    max-width: 610px;
    font-size: 1.2em;
    letter-spacing: 0.015rem;
  }
}

@media only screen and (min-width: 800px) {
  .header__title {
    line-height: 3.2rem;
  }
}

.header__title span {
  font-weight: 200;
}

.header__text {
  margin: 0 auto;
  max-width: 540px;
  padding-top: 1rem;
  padding-bottom: 4rem;
  font-size: 1.25em;
  line-height: 1.5rem;
  color: #a3a5ae;
}
@media only screen and (min-width: 800px) {
  .header__text {
    padding-top: 1.1rem;
    padding-bottom: 3.1rem;
    font-size: 0.85em;
    line-height: 1.5rem;
    letter-spacing: -0.005rem;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 800px) {
  .cards-container {
    flex-direction: row;
  }
}

.cards-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 800px) {
  .cards-item {
    flex-basis: 33.3%;
    justify-content: center;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0.75rem;
  padding: 1.66rem 1.3rem 1.35rem 1.8rem;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 11px 25px -4px rgba(60, 114, 185, 0.24);
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
  background-color: grey;
}
@media only screen and (min-width: 800px) {
  .card {
    margin: 0.92rem;
    padding: 1.97rem 2rem 1.6rem 1.95rem;
    max-width: 350px;
  }
}

.card_color01::before {
  background-color: #45d3d3;
}

.card_color02::before {
  background-color: #ea5353;
}

.card_color03::before {
  background-color: #fcaf4a;
}

.card_color04::before {
  background-color: #549ef2;
}

.card__title {
  font-size: 1.3em;
}
@media only screen and (min-width: 800px) {
  .card__title {
    font-size: 1.25rem;
  }
}

.card__text {
  margin-top: 0.3rem;
  margin-bottom: 2rem;
  font-size: 0.88em;
  line-height: 1.4rem;
  color: #a3a5ae;
}
@media only screen and (min-width: 800px) {
  .card__text {
    margin-top: 0.55rem;
    margin-bottom: 2.45rem;
  }
}

.card__img {
  align-self: flex-end;
}
.card__img img {
  width: 90%;
}
@media only screen and (min-width: 800px) {
  .card__img img {
    width: 100%;
  }
}

.attribution {
  padding: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}