* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  color: #2d3248;
  background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 52vw bottom 36vh, left 48vw top 52vh;
  background-color: #19a2ae;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.card-container {
  margin: auto;
  padding-top: 4rem;
  max-width: 350px;
  width: 100%;
  min-width: 300px;
}

.card {
  margin: 0.8rem;
  text-align: center;
  background-image: url("../images/bg-pattern-card.svg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 13px;
  box-shadow: 0 50px 70px 0 rgba(45, 50, 72, 0.3);
}
@media (min-width: 400px) {
  .card {
    margin: 0;
  }
}
.card .card-avatar {
  padding-top: 5.5rem;
}
.card .card-avatar img {
  border: 5px solid white;
  border-radius: 100%;
  overflow: hidden;
}
.card .personal-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  padding-top: 0.9rem;
}
.card .personal-info .personal-info__container {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.card .personal-info .personal-info__name {
  font-size: 1em;
  font-weight: 700;
}
.card .personal-info .personal-info__age {
  font-size: 1em;
  color: #6a6f81;
  padding-left: 0.5rem;
}
.card .personal-info .personal-info__city {
  font-size: 0.8em;
  color: #6a6f81;
  padding-top: 0.5rem;
}
.card .statistic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.5rem;
  border-top: 1px solid lightgrey;
}
.card .statistic .statistic__item {
  margin: auto;
  padding: 1.5rem 0.7rem;
}
.card .statistic .statistic__data {
  font-weight: 700;
  letter-spacing: 0.01rem;
}
.card .statistic .statistic__heading {
  font-size: 0.6em;
  letter-spacing: 0.06rem;
  color: #6a6f81;
  padding-top: 0.1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  min-width: 300px;
  padding: 1rem 0;
}

.attribution a {
  color: #2d3248;
}