@use 'vars' as *;
@use 'mixins' as *;

.card-container {
    margin: auto;
    padding-top: 4rem;
    max-width: 350px;
    width: 100%;
    min-width: 300px;
}

.card {
    margin: 0.8rem;
    text-align: center;
    background-image: url('../images/bg-pattern-card.svg');
    background-position-x: center;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 13px;
    box-shadow: 0 50px 70px 0 hsla(229, 23%, 23%, 0.3);

    @include respond-middle {
        margin: 0;
    }

    .card-avatar {
        padding-top: 5.5rem;
    }

    .card-avatar img {
        border: 5px solid white;
        border-radius: 100%;
        overflow: hidden;
    }

    .personal-info {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.5rem;
        padding-top: 0.9rem;

        .personal-info__container {
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }

        .personal-info__name {
            font-size: 1em;
            font-weight: 700;
        }

        .personal-info__age {
            font-size: 1em;
            color: $light-fc;
            padding-left: 0.5rem;
        }

        .personal-info__city {
            font-size: 0.8em;
            color: $light-fc;
            padding-top: 0.5rem;
        }
    }

    .statistic {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1.5rem;
        border-top: 1px solid lightgrey;

        .statistic__item {
            margin: auto;
            padding: 1.5rem 0.7rem;
        }
    
        .statistic__data {
            font-weight: 700;
            letter-spacing: 0.01rem;
        }
    
        .statistic__heading {
            font-size: 0.6em;
            letter-spacing: 0.06rem;
            color: $light-fc;
            padding-top: 0.1rem;
        }
    }
}