/* Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin. */
* {
  margin: 0;
  padding: 0;
}

/* Allow percentage-based heights in the application.
   (On adding height: 100% to the html selector the beginning of the page is cutted if justify-content: center is set.)
*/
body {
  min-height: 100vh;
}

/* Typographic tweaks!
   - Add accessible line-height
   - Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults. */
img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

/* Remove built-in form typography styles. */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows. */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll 
   for people that prefer not to see them.
*/
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* COLORS */
/* Primary */
/* Neutral */
/* FONTS */
/* Font family */
/* Font size (form inputs) */
/* End points */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Manrope", sans-serif;
  text-align: center;
  color: #cee3e9;
  background-color: #1f2632;
}

/* Used to hide checkbox and being accessible 
   at the same time */
.vh {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

main {
  position: relative;
  margin: 1rem;
  padding: 0 clamp(1.5rem, 5vw, 2.5rem);
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;
  max-width: 33.75rem;
  background-color: #323a49;
  border-radius: 0.5rem;
}
@media only screen and (min-width: 600px) {
  main {
    padding-top: 3rem;
    padding-bottom: 4rem;
    width: 100%;
    border-radius: 1rem;
  }
}

/*--- root styles ---*/
.advice__id {
  font-size: clamp(0.7rem, 2vw, 0.8rem);
  letter-spacing: 0.23rem;
  text-transform: uppercase;
  color: #52ffa8;
}
@media only screen and (min-width: 600px) {
  .advice__id {
    letter-spacing: 0.28rem;
  }
}

.advice__text-holder {
  display: flex;
  align-items: center;
  min-height: 10rem;
}

.advice__text {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: clamp(1.5rem, 3vw, 1.7rem);
  font-weight: 800;
  line-height: 1.35;
}
@media only screen and (min-width: 600px) {
  .advice__text {
    margin: 0 auto;
    padding-bottom: 2.1rem;
  }
}

.advice-transition-enter {
  opacity: 0;
  transform: scale(0.8) translateY(2rem);
}
.advice-transition-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 2.5s, transform 1s;
}
.advice-transition-exit {
  opacity: 0;
  transform: scale(0.8) translateY(2rem);
}
.advice-transition-exit-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 2.5s, transform 1s;
}

.divider {
  width: 100%;
  height: 2rem;
  background-image: url("../images/pattern-divider-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (min-width: 600px) {
  .divider {
    background-image: url("../images/pattern-divider-desktop.svg");
  }
}

.dice-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  padding: 1.2rem;
  background-color: #52ffa8;
  border: none;
  border-radius: 2rem;
  transition: 0.2s ease-in-out;
}
.dice-btn img {
  transition: 0.2s ease-in;
}
.dice-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 1.5rem 0.5rem rgba(82, 255, 168, 0.3);
}
.dice-btn:active {
  transform: translateX(-50%) translateY(50%) scale(0.95);
}
.dice-btn:hover img {
  transform: scale(1.1);
}

.roll-dice {
  animation: rollDice 1s ease;
}

@keyframes rollDice {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.6) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(540deg);
  }
}
/*--- end of root styles ---*/
.footer__attr {
  padding-top: 3rem;
  font-size: 11px;
  text-align: center;
  color: #5b6b86;
}
.footer__attr a {
  color: #5b6b86;
}