* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  color: #48556a;
  background-color: #ecf2f8;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: auto;
  padding: 1.5rem;
}

.article-container {
  width: 100%;
  max-width: 465px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2rem 2rem 0 rgba(72, 85, 106, 0.1);
}
@media only screen and (min-width: 650px) {
  .article-container {
    max-width: 730px;
    display: flex;
    flex-direction: row;
  }
}

.article-img {
  width: 100%;
  height: 200px;
  background-image: url(../images/drawers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media only screen and (min-width: 650px) {
  .article-img {
    flex-basis: 39%;
    min-width: 285px;
    height: auto;
    background-position: 0rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
}

.article-content {
  padding: 2.25rem 2rem 0 2rem;
}
@media only screen and (min-width: 650px) {
  .article-content {
    flex-basis: 61%;
    padding: 3.25rem 2rem 2rem 2.5rem;
  }
}

.article-content__title {
  font-size: 1.26em;
  line-height: 1.5rem;
}

.article-content__text {
  padding: 0.8rem 0;
  line-height: 1.25rem;
  letter-spacing: 0.01rem;
  color: #6d7f97;
}

.article-content__footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
}

.article-content__author-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 50px;
}

.article-content__avatar {
  flex-grow: 2;
  width: 40px;
  border-radius: 100%;
}

.article-content__author-name {
  font-size: 1em;
  padding-left: 1rem;
}

.article-content__date {
  padding-top: 0.15rem;
  padding-left: 1rem;
  color: #9eafc2;
}