@use 'vars' as *;

.attribution {
    min-width: 350px;
    font-size: 11px;
    text-align: center;
    color: $fc-heading-bold;
    padding: 1rem 0;
}

.attribution a {
    color: $fc-heading-bold;
}