@use 'vars' as *;
@use 'mixins' as *;

.card-container {
    margin: auto;
    margin-top: 148px;
    padding: 0 1.5rem;

    @include respond-medium {
        margin: auto;
        max-width: 920px;
        width: 100%;
    }
    
    @include respond-desktop {
        max-width: 1096px;
        padding: 0 5.5rem;
    }
}
