// Colors
// - Gradient colors
$bgc-from: hsl(273, 75%, 66%);
$bgc-to: hsl(240, 73%, 65%);

// - Font colors
$fc-regular: hsl(237, 12%, 33%);
$fc-heading-bold: hsl(238, 29%, 16%);
$fc-accent: hsl(14, 88%, 65%);
$fc-paragraph: hsl(240, 6%, 50%);

// - Dividers
$line-c: hsl(240, 5%, 91%);

// Fonts
$ff: 'Kumbh Sans', sans-serif;

// Sizes
$card-max-w: 920px;