* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #ff7a7a;
  background-image: url("../images/bg-intro-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 800px) {
  body {
    background-image: url("../images/bg-intro-desktop.png");
    background-size: cover;
    background-position: center;
  }
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 49px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 800px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1110px;
    margin: auto 4.5rem;
  }
}
@media only screen and (min-width: 1260px) {
  .wrapper {
    margin: auto;
  }
}

.intro {
  padding: 2.7rem 1.5rem;
  text-align: center;
  color: white;
}
@media only screen and (min-width: 800px) {
  .intro {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: left;
  }
}

.intro-content {
  margin: auto;
  max-width: 550px;
}
@media only screen and (min-width: 800px) {
  .intro-content {
    padding-top: 0.4rem;
    padding-right: 3.5rem;
    max-width: initial;
  }
}

.intro-content__title {
  font-size: 1.75em;
  font-weight: 600;
  letter-spacing: 0.005rem;
  word-spacing: -0.05rem;
  line-height: 2.23rem;
}
@media only screen and (min-width: 800px) {
  .intro-content__title {
    font-size: 2.7em;
    line-height: 3rem;
    letter-spacing: 0.025rem;
    word-spacing: -0.2rem;
  }
}
@media only screen and (min-width: 1260px) {
  .intro-content__title {
    font-size: 3.1em;
    line-height: 3.5rem;
  }
}

.intro-content__descr {
  margin-top: 1.4rem;
  line-height: 1.62rem;
  letter-spacing: 0.01rem;
  word-spacing: -0.05rem;
}
@media only screen and (min-width: 800px) {
  .intro-content__descr {
    margin-top: 1.7rem;
    line-height: 1.6rem;
  }
}

.membership {
  margin: 0 auto;
  max-width: 540px;
  padding: 1.2rem 1.5rem;
}
@media only screen and (min-width: 800px) {
  .membership {
    flex-basis: 50%;
    margin: 0;
    padding: 0;
  }
}

.offer {
  padding: 1.25rem 3rem 0.825rem 3rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: -0.01rem;
  line-height: 1.66rem;
  color: white;
  background-color: #6055a5;
  border-radius: 10px;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);
}
.offer span {
  font-weight: 600;
}
@media only screen and (min-width: 800px) {
  .offer {
    letter-spacing: -0.017rem;
  }
}

.signup {
  margin-top: 1.5rem;
  padding: 1.5rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);
}
@media only screen and (min-width: 800px) {
  .signup {
    padding: 2.5rem;
  }
}

.signup__field {
  width: 100%;
  height: 3.5rem;
  margin-bottom: 1rem;
  padding: 1.2rem 3rem 0.8rem 1.1rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  outline: none;
  border: 1px solid #d7d6e6;
  border-radius: 5px;
}
.signup__field:focus {
  border: 1px solid #7b76ad;
}
@media only screen and (min-width: 800px) {
  .signup__field {
    margin-bottom: 1.25rem;
    padding: 1.1rem 3rem 0.9rem 1.88rem;
  }
}

.signup__btn {
  width: 100%;
  padding: 1.2rem 1rem 0.7rem 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.92em;
  font-weight: 500;
  letter-spacing: 0.065rem;
  text-transform: uppercase;
  color: white;
  background-color: #38cc8c;
  border: none;
  border-radius: 5px;
  box-shadow: 0 6px 0 0 #30bb7f;
  transition: all 0.3s ease;
  cursor: pointer;
}
.signup__btn:hover {
  background-color: #75dbaf;
  box-shadow: 0 6px 0 0 #4dd198;
}
@media only screen and (min-width: 800px) {
  .signup__btn {
    padding-bottom: 0.75rem;
    box-shadow: 0 4px 0 0 #30bb7f;
  }
  .signup__btn:hover {
    box-shadow: 0 4px 0 0 #4dd198;
  }
}

.signup__terms {
  margin: 0.93rem 1rem 0 1rem;
  font-size: 0.7em;
  word-spacing: -0.03rem;
  text-align: center;
  line-height: 1.2rem;
  color: #b9b6d3;
}
.signup__terms span {
  font-size: 1em;
  font-weight: 600;
  color: #ff7a7a;
}
@media only screen and (min-width: 800px) {
  .signup__terms {
    margin-top: 1.05rem;
    margin-bottom: 0.12rem;
  }
}

.attribution {
  padding: 1rem;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  color: white;
}

.attribution a {
  color: white;
}

.invalid {
  border: 2px solid #ff7a7a;
  color: #ff7a7a;
}
.invalid:-webkit-autofill {
  -webkit-text-fill-color: #ff7a7a !important;
}

.error {
  position: relative;
  font-size: 0.85rem;
  font-weight: 600;
  text-align: right;
  color: #ff7a7a;
}
.error::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  bottom: 50%;
  transform: translateY(-30%);
  right: 1.6rem;
  background-image: url("../images/icon-error.svg");
  background-repeat: no-repeat;
}
.error p {
  transform: translateY(-1rem);
  margin-bottom: 0.15rem;
}
.error p small {
  font-size: 0.8em;
}

.hide-placeholder::placeholder {
  color: transparent;
}