@use 'vars' as *;

// On error...

// - invalid input field style
.invalid {
    border: 2px solid $accent;
    color: $accent;

    &:-webkit-autofill {
        -webkit-text-fill-color: $accent !important;
    }
}

// - field wrapper on invalid input, error icon
.error {
    position: relative;
    font-size: 0.85rem;
    font-weight: 600;
    text-align: right;
    color: $accent;

    &::before {
        content: '';
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        bottom: 50%;
        transform: translateY(-30%);
        right: 1.6rem;
        background-image: url('../images/icon-error.svg');
        background-repeat: no-repeat;
    }

    // - error message position
    p {
        transform: translateY(-1rem);
        margin-bottom: 0.15rem;

        small {
            font-size: 0.8em;
        }
    }
}

// - hide field placeholder
.hide-placeholder {
    &::placeholder {
        color: transparent;
    }
}