@use 'vars' as *;
@use 'mixins' as *;

/* || GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// Setting hight: 100% or hight: 100vh to the body/main element 
// position the second background image to the bottom of the screen, not to the page bottom.
body {
    width: 100%;
    font-size: 15px;
    font-family: $ff;
    background-image: url('../images/bg-pattern-top-mobile.svg'), url('../images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: contain, 100%;

    @include respond-desktop {
        background-image: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg');
        background-size: auto;
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    margin: auto;
}

.container {
    max-width: $max-container;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5.1rem 1.5rem 2.35rem 1.5rem;

    @include respond-desktop {
        flex-direction: row;
        max-width: 1110px;
        margin: 0 2rem;
        padding: 8.1rem 0 0 0;
    }
}


/* || UTILITIES */
