@use 'vars' as *;
@use 'mixins' as *;

.intro {
    text-align: center;

    @include respond-medium {
        flex-basis: 50%;
        padding-right: 5rem;
        text-align: left;
    }
}

.intro__title {
    font-size: 2em;
    font-weight: 700;
    line-height: 2rem;
    color: $dark-bold-color;

    @include respond-medium {
        max-width: $intro-max-w;
        font-size: 3.3em;
        line-height: 3rem;
        letter-spacing: -0.17rem;
    }
}

.intro__info {
    padding-top: 1.5rem;
    font-weight: 500;
    line-height: 1.55rem;
    letter-spacing: -0.03rem;
    color: $fc-light;

    @include respond-medium {
        max-width: $intro-max-w;
        padding-top: 1rem;
    }
}