@use 'vars' as *;
@use 'mixins' as *;

.intro {
    text-align: center;

    @include respond-desktop {
        flex-basis: 50%;
        text-align: left;
    }
}

.intro__title {
    font-size: 2em;
    font-weight: 700;
    line-height: 2rem;
    color: $dark-bold-color;
}

.intro__info {
    padding-top: 1.5rem;
    font-weight: 500;
    line-height: 1.55rem;
    letter-spacing: -0.03rem;
    color: $fc-light;
}