@use 'vars' as *;
@use 'mixins' as *;

.rates {
    background-color: palegreen;
    
    padding: 2rem 0;

    @include respond-desktop {
        flex-basis: 50%;
    }
}

.rates-content__rate {
    margin: 0.5rem 0;
    padding: 1rem;
    font-size: $fs-small;
    text-align: center;
    font-weight: 700;
    color: $dark-bold-color;
    background-color: $bg-light;
    border-radius: $round-corners;
}

.rates-content__stars {
    padding-bottom: 0.5rem;
}

.rates-content__stars img {
    padding: 0 0.2rem;
}