// Colors
$bg-light: hsl(300, 24%, 96%);
$accent-color: hsl(333, 80%, 67%);
$dark-bold-color: hsl(300, 43%, 22%);
$fc-light: hsl(303, 10%, 53%);
$fc-quote: hsl(0, 0%, 100%);

// Fonts
$ff: 'Spartan', sans-serif;
$fs-small: 0.87em;

// Measures
$round-corners: 10px;
$max-container: 890px;