/* Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin. */
* {
  margin: 0;
  padding: 0;
}

/* Allow percentage-based heights in the application.
   (On adding height: 100% to the html selector the beginning of the page is cutted if justify-content: center is set.)
*/
body {
  min-height: 100vh;
}

/* Typographic tweaks!
   - Add accessible line-height
   - Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults. */
img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

/* Remove built-in form typography styles. */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows. */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll 
   for people that prefer not to see them.
*/
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* COLORS */
/* Primary */
/* Neutral */
/* FONTS */
/* Font family */
/* Font size (form inputs) */
/* MEASURES */
/* Padding to set equal left and right space 
   in mobile view to all body's children */
body {
  width: 100%;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #5a636c;
}

h1,
h2,
.about__learn-more,
.client__info-name,
.header__nav-item--contacts {
  font-family: "Fraunces", serif;
  font-weight: 900;
  line-height: 1.2;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

/* Used to hide checkbox and being accessible 
   at the same time */
.vh {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* --- HEADER ---*/
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: clamp(1.5rem, 6vw, 2.5rem);
  padding-right: clamp(1.5rem, 6vw, 2.5rem);
  padding-top: 2rem;
  width: 100%;
  height: 142vw;
  background-image: url(../images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
@media only screen and (min-width: 500px) {
  .header {
    padding-top: 3rem;
    height: 100vh;
    background-image: url(../images/desktop/image-header.jpg);
  }
}

.header__top {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
  width: clamp(6rem, 33vw, 8rem);
}
@media only screen and (min-width: 500px) {
  .header__logo {
    width: clamp(8rem, 25vw, 10.62rem);
  }
}

.header__mob-nav-btn {
  display: block;
  width: 1.5rem;
}
.header__mob-nav-btn:hover {
  cursor: pointer;
}

input[type=checkbox]:checked ~ .header__nav-list {
  display: block;
}

.header__nav-list {
  display: none;
  position: absolute;
  top: 4.5rem;
  left: 0;
  padding: 1.5rem;
  width: 100%;
  background-color: white;
  z-index: 10;
}
.header__nav-list::before {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-1.5rem);
  transform: rotate(90deg);
  transform-origin: top right;
  content: "";
  border-right: 1.5rem solid white;
  border-left: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
}

.header__nav-item {
  padding: 0.8rem;
}
.header__nav-item a {
  font-size: 1.2rem;
  color: #818498;
}

.header__nav-item--contacts {
  margin: 1rem auto;
  padding: 1rem;
  width: 55%;
  background-color: #fad400;
  border-radius: 2rem;
}
.header__nav-item--contacts a {
  font-size: 1rem;
  text-transform: uppercase;
  color: #23303e;
}

.header__title {
  padding-top: 24vw;
  font-size: clamp(1rem, 10vw, 3.5rem);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: white;
}
@media only screen and (max-width: 360px) {
  .header__title {
    letter-spacing: clamp(0.2rem, 1.5vw, 2.4rem);
  }
}
@media only screen and (min-width: 500px) {
  .header__title {
    padding-top: 15vh;
  }
}

.header__arrow-btn {
  position: absolute;
  top: 54%;
  width: 2.2rem;
}
@media only screen and (max-width: 360px) {
  .header__arrow-btn {
    width: 10vw;
  }
}
@media only screen and (min-width: 500px) {
  .header__arrow-btn {
    top: 45%;
  }
}

/* --- INTRO ---*/
@media only screen and (min-width: 800px) {
  .about {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.about__img {
  width: 100%;
  height: 83vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top 0;
}
@media only screen and (min-width: 800px) {
  .about__img {
    flex-basis: 50%;
    align-self: stretch;
    height: auto;
  }
}
@media only screen and (min-width: 950px) {
  .about__img {
    height: 42vw;
  }
}

.about__img--transf {
  background-image: url(../images/mobile/image-transform.jpg);
}
@media only screen and (min-width: 800px) {
  .about__img--transf {
    order: 2;
    background-image: url(../images/desktop/image-transform.jpg);
  }
}

.about__img--stand-out {
  background-image: url(../images/mobile/image-stand-out.jpg);
}
@media only screen and (min-width: 800px) {
  .about__img--stand-out {
    background-image: url(../images/mobile/image-stand-out.jpg);
  }
}

.about__content {
  padding-top: 3.8rem;
  padding-bottom: 3.8rem;
  padding-left: clamp(1.5rem, 6vw, 2.5rem);
  padding-right: clamp(1.5rem, 6vw, 2.5rem);
  margin: 0 auto;
  max-width: 37.5rem;
}
@media only screen and (min-width: 800px) {
  .about__content {
    flex-basis: 50%;
    text-align: left;
  }
}

.about__content-title {
  font-size: 2rem;
  color: #23303e;
}

.about__content-text {
  padding: 2rem 0;
}

.about__learn-more {
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  color: #23303e;
}
.about__learn-more::after {
  position: absolute;
  left: 50%;
  top: 0.7rem;
  transform: translateX(-50%);
  width: 115%;
  height: 10px;
  content: "";
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  z-index: -1;
}

.about__learn-more--transf::after {
  background-color: #fff3ad;
}
.about__learn-more--transf:hover::after {
  background-color: #fad400;
}

.about__learn-more--stand-out::after {
  background-color: #ffd2cc;
}
.about__learn-more--stand-out:hover::after {
  background-color: #fe7867;
}

@media only screen and (min-width: 800px) {
  .service {
    display: flex;
    flex-direction: row;
  }
}

.service__item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 4rem;
  padding-left: clamp(1.5rem, 6vw, 2.5rem);
  padding-right: clamp(1.5rem, 6vw, 2.5rem);
  min-height: 36.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top 0;
}
@media only screen and (min-width: 800px) {
  .service__item {
    flex-basis: 50%;
  }
}

.service--design {
  color: #25564b;
  background-image: url("../images/mobile/image-graphic-design.jpg");
}
@media only screen and (min-width: 500px) {
  .service--design {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }
}

.service--photogr {
  color: #19536b;
  background-image: url("../images/mobile/image-photography.jpg");
}
@media only screen and (min-width: 500px) {
  .service--photogr {
    background-image: url("../images/desktop/image-photography.jpg");
  }
}

.service__title {
  font-size: 1.75rem;
  text-transform: capitalize;
}

.service__text {
  padding-top: 1.6rem;
  font-size: 0.99rem;
  margin: 0 auto;
  max-width: 37.5rem;
}

/* --- TESTIMONIALS ---*/
.testimonials {
  padding-top: 3.8rem;
  padding-bottom: 3.8rem;
  padding-left: clamp(1.5rem, 6vw, 2.5rem);
  padding-right: clamp(1.5rem, 6vw, 2.5rem);
}

.testimon-title {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #a7abae;
}

@media only screen and (min-width: 800px) {
  .clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}
@media only screen and (min-width: 800px) {
  .client {
    max-width: 22rem;
  }
}

.client__avatar {
  width: 4.3rem;
  border-radius: 3rem;
  overflow: hidden;
}

.client__testimon {
  padding: 2rem 0;
  font-size: 1.11rem;
  margin: 0 auto;
  max-width: 37.5rem;
}
@media only screen and (min-width: 800px) {
  .client__testimon {
    padding: 2rem 0.5rem;
  }
}

.client__info-name {
  color: #23303e;
}

.client__info-position {
  padding-top: 0.7rem;
  font-size: 0.8rem;
  color: #a7abae;
}

/* --- GELLARY ---*/
.gellary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (min-width: 950px) {
  .gellary {
    grid-template-columns: repeat(4, 1fr);
  }
}

.gellary__item {
  width: 100%;
  height: 50vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 950px) {
  .gellary__item {
    height: 25vw;
  }
}

.gellary__item--01 {
  background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
}

.gellary__item--02 {
  background-image: url("../images/mobile/image-gallery-orange.jpg");
}

.gellary__item--03 {
  background-image: url("../images/mobile/image-gallery-cone.jpg");
}

.gellary__item--04 {
  background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
}

/* --- FOOTER ---*/
.footer {
  padding-top: 3rem;
  padding-bottom: 1rem;
  padding-left: clamp(1.5rem, 6vw, 2.5rem);
  padding-right: clamp(1.5rem, 6vw, 2.5rem);
  background-color: #89d1c3;
}

.footer__logo {
  margin: 0 auto;
  width: 10rem;
}
.footer__logo path {
  fill: #2C7566;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding: 2.5rem 0;
  max-width: 32rem;
}

.footer__nav-item a {
  color: #458c7e;
}
.footer__nav-item:hover a {
  color: white;
}

.footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 10rem;
}

.footer__social-icon {
  width: 1.2rem;
}
.footer__social-icon:hover path {
  fill: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #458c7e;
}

.attribution a {
  color: #2C7566;
}
.attribution a:hover {
  color: white;
}