@use 'vars' as *;

h1 {
    font-size: 2.6em;
    text-align: center;
    color: #1d1e35;
    padding-bottom: 1rem;
}

ul {
    list-style: none;
}

.faq__item {
    position: relative;
    border-bottom: 1px solid $line-c;
}

input[type="checkbox"] {
    display: none;
}

h2 {
    padding: 1.05rem 0;
    font-size: 1.1em;
    font-weight: 400;

    &:hover {
        color: $fc-accent;
    }

    &::after {
        content: url('../images/icon-arrow-down.svg');
        position: absolute;
        right: 0;
        transition: 0.3s ease-in-out;
    }
}

input[type="checkbox"]:checked ~ .faq__question>h2 {
    font-weight: 700;
    color: $fc-heading-bold;
    padding-bottom: 0.7rem;

    &::after {
        transform: rotate(180deg);
        transform-origin: center;
    }
}

.faq__answer {
    max-height: 0;
    // font-size: 1em;
    line-height: 1.14rem;
    color: $fc-paragraph;
    padding-right: 1.5rem;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

input[type="checkbox"]:checked ~ .faq__answer {
    max-height: 100vh;
    padding-bottom: 1rem;
}

.faq__answer > p {
    opacity: 0.1;
    transition: opacity 0.7s ease-in-out;
}

input[type="checkbox"]:checked ~ .faq__answer > p {
    opacity: 1;
}