@use 'vars' as *;
@use 'mixins' as *;

.card {
    min-width: 300px;
    width: 100%;
    max-width: 920px;
    display: flex;
    flex-direction: column;
    color: $fc-regular;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 25px 50px 0 rgb(29 30 53 / 40%);

    @include respond-medium {
        flex-direction: row;
    }

    .img-section {
            position: relative;
            height: 108px;
            background-image: url(../images/bg-pattern-mobile.svg);
            background-repeat: no-repeat;
            background-position: center bottom;

        img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 35px;
            width: 237px;
        }
    }

    .accord-section {
        padding: 1.5rem 1.5rem 3rem 1.5rem;
        
        // The accordion itself is in separate file (_accordion.scss)
    }
}