@use 'vars' as *;
@use 'mixins' as *;

.card-container {
    margin: auto;
    margin-top: 148px;
    padding: 0 1.5rem;

    @include respond-medium {
        max-width: $card-max-w;
        width: 100%;
        margin: auto;
        padding: 0 50px;
        box-sizing: content-box;
    }
}
