/* Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin. */
* {
  margin: 0;
  padding: 0;
}

/* Allow percentage-based heights in the application.
   (On adding height: 100% to the html selector the beginning of the page is cutted if justify-content: center is set.)
*/
body {
  min-height: 100vh;
}

/* Typographic tweaks!
   - Add accessible line-height
   - Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults. */
img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

/* Remove built-in form typography styles. */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows. */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll 
   for people that prefer not to see them.
*/
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* COLORS */
/* Primary */
/* Neutral */
/* Gradient */
/* FONTS */
/* Font family */
/* Font size (form inputs) */
/* MEASURES */
/* FUNCTIONS */
/* Base color theme */
/* Button color theme */
/* Button style - size and shape */
body {
  width: 100%;
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #4b5862;
  background: #efeff0;
}

h2 {
  letter-spacing: -0.06rem;
}

h2,
h3 {
  font-size: 1.73rem;
  line-height: 1.2;
  color: #1f3f5b;
}

p {
  font-size: 1.05rem;
  line-height: 1.67;
}

button,
ul,
li,
a {
  color: #1f3f5b;
}

ul {
  list-style: none;
}
ul a {
  text-decoration: none;
}

/* Used to hide checkbox and being accessible 
   at the same time */
.vh {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* --- HEADER ---*/
.header {
  padding-top: 1.5rem;
  padding-left: max(1.5rem, 13.5% - 2rem);
  padding-right: max(1.5rem, 13.5% - 2rem);
  color: white;
  background: linear-gradient(135deg, #ff8f70, #ff3d54);
  background-image: url("../images/bg-pattern-intro-mobile.svg"), linear-gradient(135deg, #ff8f70, #ff3d54);
  background-repeat: no-repeat;
  background-position: left -21rem top -15rem, center;
  border-bottom-left-radius: 6rem;
}
@media only screen and (min-width: 900px) {
  .header {
    padding-top: 0.1rem;
    background-image: url("../images/bg-pattern-intro-desktop.svg"), linear-gradient(135deg, #ff8f70, #ff3d54);
    background-position: left -27rem top -84rem, center;
  }
}

.header-top {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
@media only screen and (min-width: 900px) {
  .header-top {
    padding-top: 2.2rem;
    padding-left: 0.2rem;
  }
}

.header-top__logo {
  width: clamp(5rem, 9vw, 6.25rem);
}

@media only screen and (min-width: 900px) {
  .header-top__main {
    flex-basis: 70vw;
  }
}

@media only screen and (min-width: 900px) {
  .header-top__m-nav-btn-check {
    display: none;
  }
}

.header-top__m-nav-btn-label {
  display: block;
  width: 2rem;
}
@media only screen and (min-width: 900px) {
  .header-top__m-nav-btn-label {
    display: none;
  }
}

.header-top__m-nav-close {
  display: none;
}

.header-top__m-nav-btn-check:checked ~ .header-top__m-nav-btn-label > .header-top__m-nav-close {
  display: block;
  margin: 0 auto;
  width: 1.6rem;
}
.header-top__m-nav-btn-check:checked ~ .header-top__m-nav-btn-label > .header-top__m-nav-open {
  display: none;
}
.header-top__m-nav-btn-check:checked ~ .header-top__main-items {
  display: block;
}
@media only screen and (min-width: 900px) {
  .header-top__m-nav-btn-check:checked ~ .header-top__main-items {
    display: flex;
  }
}

.header-top__main-items {
  position: absolute;
  top: 6.5rem;
  left: 0;
  display: none;
  padding: 1.5rem;
  width: 100%;
  color: #4b5862;
  background: white;
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 3rem -1rem rgba(0, 0, 0, 0.7);
}
@media only screen and (min-width: 900px) {
  .header-top__main-items {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.6rem 0 1rem 2.7rem;
    background-color: transparent;
    box-shadow: none;
  }
}

.header-top__nav-menu {
  padding-bottom: 1.5rem;
  font-weight: 500;
  border-bottom: 1px solid #efeff0;
}
@media only screen and (min-width: 900px) {
  .header-top__nav-menu {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-bottom: 0;
    border: none;
  }
}

.header-top__nav-menu-item {
  position: relative;
}
@media only screen and (min-width: 900px) {
  .header-top__nav-menu-item {
    padding: 0 1.04rem;
  }
}

.header-top__submenu-toggle {
  position: relative;
  padding: 0.5rem 1.2rem 0.5rem 0;
  font-size: 1.15rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
}
.header-top__submenu-toggle::before {
  position: absolute;
  top: 17px;
  right: 0;
  content: "";
  width: 0.45rem;
  height: 0.45rem;
  transform-origin: 0.15rem 0.15rem;
  transform: rotate(225deg);
  border-top: 2px solid #ff525d;
  border-left: 2px solid #ff525d;
  transition: transform 0.3s ease;
}
@media only screen and (min-width: 900px) {
  .header-top__submenu-toggle {
    font-size: inherit;
    color: white;
  }
  .header-top__submenu-toggle::before {
    border-color: white;
  }
  .header-top__submenu-toggle::after {
    position: absolute;
    bottom: 10px;
    left: 0;
    content: "";
    width: 80%;
    height: 2px;
    transform-origin: left;
    transform: scaleX(0);
    background-color: white;
    transition: transform 0.3s ease-in;
  }
  .header-top__submenu-toggle:hover::after {
    transform: scaleX(1);
  }
}

.header-top__submenu-toggle.active::before {
  transform: rotate(45deg);
}
.header-top__submenu-toggle.active::after {
  transform: scaleX(1);
}

.header-top__submenu-toggle.active ~ .header-top__submenu {
  display: block;
}

.header-top__submenu {
  display: none;
  padding: 1rem;
  background-color: #efeff0;
  border-radius: 0.3rem;
}
@media only screen and (min-width: 900px) {
  .header-top__submenu {
    position: absolute;
    top: 53px;
    left: -0.3rem;
    padding: 1.3rem 3.5rem 1.3rem 1.3rem;
    background-color: white;
    box-shadow: 0 0.5rem 3rem -1rem rgba(0, 0, 0, 0.7);
  }
}

.header-top__submenu-item {
  padding: 0.5rem 0;
}
.header-top__submenu-item a {
  color: #2c5a81;
}
@media only screen and (min-width: 900px) {
  .header-top__submenu-item {
    padding: 0.3rem 0;
  }
}

.header-top__account-btns {
  margin-top: 1.3rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 900px) {
  .header-top__account-btns {
    margin-top: 0;
    flex-direction: row;
  }
}

.header-top__account-login {
  margin: 0.5rem 0;
  background-color: transparent;
  border: none;
}
@media only screen and (min-width: 900px) {
  .header-top__account-login {
    margin: 0 1.5rem;
    color: white;
    background: transparent;
  }
}

.header-top__account-signup {
  margin: 0.5rem auto;
  padding: 0.8rem 1.1rem 0.6rem 1.1rem;
  min-width: 8.6rem;
  width: max-content;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 2rem;
  color: white;
  background: linear-gradient(135deg, #ff8f70, #ff3d54);
}
@media only screen and (min-width: 900px) {
  .header-top__account-signup {
    margin: 0;
    color: #ff525d;
    background: white;
  }
}

.header-intro {
  padding: 5rem 0.5rem 7.7rem 0.5rem;
}
@media only screen and (min-width: 900px) {
  .header-intro {
    padding-top: 4.5rem;
  }
}

.header-intro__title {
  font-size: clamp(2.2rem, 5vw, 3.9rem);
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.05rem;
}
@media only screen and (min-width: 900px) {
  .header-intro__title {
    letter-spacing: -0.1rem;
  }
}

.header-intro__text {
  padding: 0.8rem 0;
  font-size: 1.14rem;
  font-weight: 300;
  line-height: 1.3;
}

.header-intro__btns {
  padding: 1.6rem 0;
}
@media only screen and (min-width: 900px) {
  .header-intro__btns {
    padding: 1.8rem 0;
  }
}

.header-intro__btns > button {
  margin: 0.37rem;
  padding: 0.8rem 1.1rem 0.6rem 1.1rem;
  min-width: 8.6rem;
  width: max-content;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 2rem;
}

.header-intro__start-btn {
  color: #ff525d;
  background: white;
}

.header-intro__more-btn {
  color: white;
  background: transparent;
}

/* --- SECTIONS ---*/
/* --- Editor ---*/
.editor {
  padding-bottom: min(15.44rem, 66vw);
  background-image: url("../images/illustration-editor-mobile.svg");
  background-repeat: no-repeat;
  background-position: center top 11.3rem;
  background-size: min(450px, 108%);
}
@media only screen and (min-width: 900px) {
  .editor {
    padding-bottom: min(14.3rem, 16vw);
    background-image: url("../images/illustration-editor-desktop.svg");
    background-position: left 55vw top min(4.5rem, 5vw);
    background-size: min(58rem, 72vw);
  }
}

.editor__title {
  padding: 1.8rem;
  padding-top: 6.5rem;
  padding-bottom: min(24rem, 94vw);
  font-size: clamp(1.73rem, 5.5vw, 2.4rem);
}
@media only screen and (min-width: 900px) {
  .editor__title {
    padding-top: min(9.8rem, 11vw);
    padding-bottom: 0;
  }
}

.editor__content {
  margin: 0 auto;
  padding: 1.8rem;
  max-width: 620px;
}
@media only screen and (min-width: 900px) {
  .editor__content {
    margin: 0;
    padding-left: clamp(5rem, 15vw - 3rem, 11rem);
    width: clamp(32rem, 50.65vw, 50rem);
    max-width: initial;
    text-align: left;
  }
}

.editor__content-item-title {
  padding-top: 2.7rem;
  padding-bottom: 0.8rem;
}
@media only screen and (min-width: 900px) {
  .editor__content-item-title {
    padding-top: min(4.8rem, 5.5vw);
    padding-bottom: 1.5rem;
  }
}

/* --- Speed ---*/
.speed {
  position: relative;
  padding: 1.8rem;
  padding-bottom: 7rem;
  font-weight: 200;
  color: white;
  background: linear-gradient(135deg, #2c2d3f, #3f4164);
  background: url("../images/bg-pattern-circles.svg"), linear-gradient(135deg, #2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top -16rem, center;
  border-top-right-radius: 6rem;
  border-bottom-left-radius: 6rem;
}
@media only screen and (min-width: 900px) {
  .speed {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2.8rem;
    padding-bottom: 6.3rem;
    background-position: left -13rem top -32rem, center;
    background-size: auto;
  }
}

.speed__illustr {
  height: clamp(5rem, 34vw, 16rem);
}
.speed__illustr img {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: 28rem;
  transform: translateX(-50%) translateY(-11.5rem);
}
@media only screen and (min-width: 900px) {
  .speed__illustr {
    position: relative;
    flex-basis: 50%;
  }
  .speed__illustr img {
    top: 68%;
    left: 54%;
    max-width: 34.5rem;
    width: max(28rem, 39vw);
    transform: translateX(-50%) translateY(-50%);
  }
}

.speed__content {
  margin: 0 auto;
  max-width: 620px;
}
@media only screen and (min-width: 900px) {
  .speed__content {
    margin: 0;
    max-width: initial;
    padding-right: clamp(2rem, 13vw - 3rem, 8rem);
    padding-left: max(1rem, 10rem - 10vw);
    flex-basis: 50%;
    text-align: left;
  }
}

.speed__title {
  padding-top: min(4.5rem, 19vw);
  padding-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  color: white;
}

/* --- Features ---*/
.features {
  padding-bottom: 4rem;
  background-image: url("../images/illustration-laptop-mobile.svg");
  background-repeat: no-repeat;
  background-position: center top 4rem;
  background-size: min(580px, 130%);
}
@media only screen and (min-width: 900px) {
  .features {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-image: url("../images/illustration-laptop-desktop.svg");
    background-position: right calc(57vw - 5rem) top clamp(4.5rem, 8vw, 8rem);
    background-size: clamp(50rem, 88vw, 61.2rem);
  }
}

.features__content {
  margin: 0 auto;
  padding: 1.8rem;
  padding-top: min(28rem, 110vw);
  max-width: 620px;
}
@media only screen and (min-width: 900px) {
  .features__content {
    margin: 0;
    padding-top: min(14rem, 16vw);
    padding-bottom: min(15rem, 17vw);
    padding-right: clamp(2rem, 50% - 30rem, 11rem);
    padding-left: max(1rem, 10rem - 10vw);
    max-width: 50vw;
    text-align: left;
  }
}

.features__content-item-title {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}
@media only screen and (min-width: 900px) {
  .features__content-item-title {
    padding-top: 5rem;
  }
}

/* --- FOOTER ---*/
.footer {
  color: #c8c8cb;
  background: #25252d;
  border-top-right-radius: 6rem;
}

.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4.7rem;
  padding-bottom: 3rem;
}
@media only screen and (min-width: 900px) {
  .footer-main {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 9.9rem;
    padding-right: 9.9rem;
    text-align: left;
  }
}

.footer__logo {
  padding-bottom: 2.5rem;
  width: 6.3rem;
}
@media only screen and (min-width: 900px) {
  .footer__logo {
    padding-top: 0.7rem;
  }
}

.footer__nav {
  padding-top: 0.9rem;
  font-size: 1.1rem;
}
@media only screen and (min-width: 900px) {
  .footer__nav {
    padding-top: 0;
  }
}

.footer__nav-title {
  padding: 1.5rem 0;
  color: white;
}

.footer__nav-list li {
  padding-bottom: 0.5rem;
}
.footer__nav-list a {
  color: #c8c8cb;
}

.footer__attribution {
  font-size: 11px;
  text-align: center;
  padding: 1rem;
  color: #c8c8cb;
}

.footer__attribution a {
  color: #c8c8cb;
}