@use 'vars' as *;

.attribution {
    font-size: 11px;
    text-align: center;
    color: $neutral-bg-light;
    font-weight: 300;
    padding: 1rem;
}

.attribution a {
    color: $neutral-bg-light;
}