@use 'vars' as *;
@use 'mixins' as *;

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: $ff;
    font-size: $fs;
    color: white;
    background-color: $base-bg;
}

.report {
    display: grid;
    gap: clamp(1.5rem, 1.5%, 1.875rem);
    padding: $main-cont-pad;
    max-width: 1110px;

    @include respond-medium {
        grid-template-columns: repeat(3, 1fr);
    }

    @include respond-desktop {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* REPORT SUBJECT */
.report-subject {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $neutral-bg;
    border-radius: $roundness;

    @include respond-medium {
        grid-row: span 3;
    }

    @include respond-desktop {
        grid-row: span 2;
    }
}

.person {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
    padding: $item-cont-pad;
    background-color: $primary-person;
    border-radius: $roundness;

    @include respond-medium {
        flex-basis: 65%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    @include respond-tiny-width {
        flex-direction: column;
        align-items: center;
    }
}

.person__avatar {
    margin-right: 1rem;
    width: clamp(4rem, 26%, 5rem);

    &>img {
        background-color: white;
        border: 3px solid white;
        border-radius: 100px;
    }

    @include respond-medium {
        padding-bottom: 1rem;
        width: clamp(4.5rem, 53%, 5.3rem);
    }

    @include respond-tiny-width {
        margin: 0;
        margin-bottom: 1rem;
    }
}

.person__name {
    font-size: clamp(0.9rem, 2vw, 1rem);
    font-weight: 300;
    color: $neutral-fc;

    &>span {
        font-size: clamp(1.5rem, 4vw, 2.5rem);
        color: white;
    }

    @include respond-medium {
        line-height: 2.3rem;
    }

    @include respond-tiny-width {
        text-align: center;
    }
}

.timeframes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: $main-cont-pad;

    @include respond-medium {
        flex-direction: column;
    }

    @include respond-tiny-width {
        flex-direction: column;
        align-items: center;
    }
}

.timeframes__item {
    color: $neutral-bg-light;

    &>input {
        display: none;
    }

    &>input:checked + label {
        color: white;
    }

    &:hover label {
        cursor: pointer;
    }

    @include respond-medium {
        padding-bottom: 0.5rem;
    }
}



/* REPORT ENTITIES */
.statistic {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 2.3rem;
    border-radius: $roundness;
}

.statistic_work-theme {
    background-color: $primary-work;
}

.statistic_play-theme {
    background-color: $primary-play;
}

.statistic_study-theme {
    background-color: $primary-study;
}

.statistic_exercise-theme {
    background-color: $primary-exercise;
}

.statistic_social-theme {
    background-color: $primary-social;
}

.statistic_selfcare-theme {
    background-color: $primary-selfcare;
}

.stat-content {
    width: 100%;
    padding: 1.5rem;
    background-color: $neutral-bg;
    border-radius: $roundness;
    border: 1px solid skyblue;
}

.stat-content__title {
    font-size: clamp(1rem, 4.8vw, 1.5rem);
    font-weight: 400;
}

.stat-content__data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include respond-medium {
        flex-direction: column;
        align-items: flex-start;
    }

    @include respond-tiny-width {
        flex-direction: column;
        align-items: center;
    }
}

.stat-content__current {
    font-size: clamp(1.8rem, 8.2vw, 2.5rem);
    font-weight: 300;
}

.stat-content__prev {
    font-size: 0.95rem;
    font-weight: 300;
    color: $neutral-fc;
}