@use 'sass:color';

/* COLORS */
/* Primary */
$primary-person: hsl(246, 80%, 60%);
$primary-work: hsl(15, 100%, 70%);
$primary-play: hsl(195, 74%, 62%);
$primary-study: hsl(348, 100%, 68%);
$primary-exercise: hsl(145, 58%, 55%);
$primary-social: hsl(264, 64%, 52%);
$primary-selfcare: hsl(43, 84%, 65%);

/* Neutral */
$base-bg: hsl(226, 43%, 10%);
$neutral-bg: hsl(235, 46%, 20%);
$neutral-bg-light: hsl(235, 45%, 61%);
$neutral-fc: hsl(236, 100%, 87%);
$hover-bg: color.adjust($neutral-bg, $lightness: 10%);

/* FONTS */
/* Font size (card titles e.g. Work, Play) */
$fs: 18px;

/* Font family */
$ff: 'Rubik', sans-serif;

/* MEASURES */
/* Padding */
$item-cont-pad: 2rem;
$main-cont-pad: 1.5rem;

/* Round corners */
$roundness: 1rem;