@use "utilities" as *;
@use "mixins" as *;

body {
    width: 100%;
    font-family: $ff-paragraph;
    font-size: $fs;
    text-align: center;
    color: $fc-paragraph;
}

h1,
h2,
.about__learn-more,
.client__info-name {
    font-family: $ff-title;
    font-weight: 900;
    line-height: 1.2;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

/* --- HEADER ---*/
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mob-space-lr;
    padding-top: 2rem;
    background-image: url("../images/mobile/image-header.jpg");
}

.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.header__title {
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: white;
}

.header__arrow-btn {
    width: 2rem;
}

/* --- INTRO ---*/
.about__img {
    width: 100%;
    min-height: 19rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.about__img--transf {
    background-image: url(../images/mobile/image-transform.jpg);
}

.about__img--stand-out {
    background-image: url(../images/mobile/image-stand-out.jpg);
}

.about__content {
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include mob-space-lr;
}

.about__content-title {
    font-size: 2rem;
    color: $fc-title-base;
}

.about__content-text {
    padding: 2rem 0;
}

.about__learn-more {
    position: relative;
    font-size: 1rem;
    text-transform: uppercase;
    color: $fc-title-base;

    &::after {
        position: absolute;
        left: 50%;
        top: 0.7rem;
        transform: translateX(-50%);
        width: 115%;
        height: 10px;
        content: "";
        border-radius: 1rem;
        transition: 0.3s ease-in-out;
        z-index: -1;
    }
}

.about__learn-more--transf {
    &::after {
        background-color: $yellow-light;
    }

    &:hover::after {
        background-color: $yellow;
    }
}

.about__learn-more--stand-out {
    &::after {
        background-color: $soft-red-light;
    }

    &:hover::after {
        background-color: $soft-red;
    }
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include mob-space-lr;
    min-height: 35rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top 0;
}

.service--design {
    color: $fc-dark-cyan;
    background-image: url("../images/mobile/image-graphic-design.jpg");
}

.service--photogr {
    color: $fc-dark-blue;
    background-image: url("../images/mobile/image-photography.jpg");
}

.service__text {
    padding-top: 1.5rem;
    font-size: 0.95rem;
}

/* --- TESTIMONIALS ---*/
.testimonials {
    padding-top: 3rem;
    padding-bottom: 5rem;
    @include mob-space-lr;
}

.testimon-title {
    font-size: 0.85rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: $fc-neutral-light;
}

.client {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.client__avatar {
    width: 3.5rem;
    border-radius: 2rem;
    overflow: hidden;
}

.client__testimon {
    padding: 1.5rem 0;
    font-size: 1.1rem;
}

.client__info-name {
    color: $fc-title-base;
}

.client__info-position {
    padding-top: 0.7rem;
    font-size: 0.8rem;
    color: $fc-neutral-light;
}

/* --- GELLARY ---*/
.gellary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gellary__item {
    width: 100%;
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.gellary__item--01 {
    background-image: url('../images/mobile/image-gallery-milkbottles.jpg');
}

.gellary__item--02 {
    background-image: url('../images/mobile/image-gallery-orange.jpg');
}

.gellary__item--03 {
    background-image: url('../images/mobile/image-gallery-cone.jpg');
}

.gellary__item--04 {
    background-image: url('../images/mobile/image-gallery-sugar-cubes.jpg');
}

/* --- FOOTER ---*/
.footer {
    padding-top: 3rem;
    padding-bottom: 1rem;
    @include mob-space-lr;
    background-color: $bg-cyan-light;
}

.footer__logo {
    margin: 0 auto;
    width: 10rem;

    path {
        fill: $svg-color;
    }
}

.footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2.5rem 0;
}

.footer__nav-item {
    a {
        color: $bg-cyan;
    }
}

.footer__socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2rem 0;
    max-width: 10rem;
}

.footer__social-icon {
    width: 1.2rem;
}