@use "utilities" as *;
@use "mixins" as *;
@use "sass:color";

body {
    width: 100%;
    font-family: $ff-paragraph;
    font-size: $fs;
    text-align: center;
    color: $fc-paragraph;
    background-color: $soft-red-lighter;
}

h1,
h2,
.about__learn-more,
.client__info-name,
.header__nav-item--contacts {
    font-family: $ff-title;
    font-weight: 900;
    line-height: 1.2;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

/* Used to hide checkbox and being accessible 
   at the same time */
.vh {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* --- HEADER ---*/
.header {
    background-color: $header-bg;
}

.header-inner-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    @include mob-space-lr;
    padding-top: 2rem;
    width: 100%;
    max-width: $content-max-width;
    height: 143vw;
    background-image: url(../images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

    @include respond-500 {
        padding: 2rem clamp(1.5rem, 2.8vw, 3rem);
        height: 100vh;
        max-height: 1024px;
        min-height: 750px;
        background-image: url(../images/desktop/image-header.jpg);
    }
}

.header__top {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__logo {
    width: clamp(6rem, 33vw, 8rem);

    @include respond-500 {
        width: clamp(8rem, 25vw, 10.62rem);
    }
}

// .header__nav {
// }

.header__mob-nav-btn {
    display: block;
    width: 1.5rem;

    &:hover {
        cursor: pointer;
    }

    @include respond-800 {
        display: none;
    }
}

.header__nav-holder {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    overflow: hidden;
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 10;

    @include respond-800 {
        position: relative;
        top: 0;
        transform: scaleY(1);
        opacity: 1;
        overflow: initial;
    }
}

.header__nav-list {
    position: relative;
    top: 1.5rem;
    // display: none;
    // position: absolute;
    // top: 4.5rem;
    // left: 0;
    padding: 1.5rem;
    width: 100%;
    transform-origin: bottom;
    transform: scaleY(4);
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background-color: white;

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        // transform: translateY(-1.5rem);
        transform: rotate(90deg);
        transform-origin: top right;
        content: '';
        border-right: 1.5rem solid white;
        border-left: 1.5rem solid transparent;
        border-bottom: 1.5rem solid transparent;
    }

    @include respond-tiny-width {
        // top: 3.5rem;
        padding: 1.5rem 0.7rem;
    }

    @include respond-800 {
        // position: relative;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding: 0;
        transform: scaleY(1);
        background: none;

        &::before {
            display: none;
        }
    }
}

.header__nav-item {
    padding: 0.8rem;

    a {
        font-size: 1.15rem;
        color: $fc-neutral;
    }

    &:hover {
        cursor: pointer;

        a {
            color: $fc-dark-blue;
        }
    }

    @include respond-800 {
        position: relative;
        padding: 0 clamp(1.3rem, 2vw, 1.5rem);

        a {
            color: $white;
        }

        &:hover a {
            color: $white;
        }

        &:not(.header__nav-item--contacts)::after {
            position: absolute;
            left: 15%;
            top: 2.2rem;
            width: 70%;
            height: 10px;
            content: "";
            transform: scaleX(0);
            background-color: color.adjust($white, $alpha: -0.7);
            border-radius: 1rem;
            transition: 0.3s ease-in-out;
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }
}

.header__nav-item--contacts {
    margin: 1rem auto;
    padding: 1.1rem 1.8rem;
    width: 55%;
    background-color: $yellow;
    border-radius: 2rem;
    transition: 0.3s ease-in-out;

    a {
        font-size: 0.95rem;
        text-transform: uppercase;
        color: $fc-title-base;
    }

    &:hover {
        background-color: $soft-red;
    }

    @include respond-tiny-width {
        padding: 1rem 1.5rem;
        width: initial;
    }

    @include respond-800 {
        margin: 0 0 0 1.5rem;
        background-color: $white;

        &:hover {
            background-color: color.adjust($white, $alpha: -0.7%);
            cursor: pointer;

            a {
                color: white;
            }
        }
    }
}

input[type="checkbox"]:checked ~ .header__nav-holder {
    transform: scaleY(1);
    opacity: 1;
}

input[type="checkbox"]:checked ~ .header__nav-holder > .header__nav-list {
    // display: block;
    transform: scaleY(1);

    @include respond-800 {
        display: flex;
    }
}

.header__title {
    padding-top: 24vw;
    font-size: clamp(1rem, 10vw, 3.5rem);
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: white;

    @include respond-tiny-width {
        letter-spacing: 0.2rem;
    }

    @include respond-500 {
        padding-top: 6.7rem;
        letter-spacing: 0.6rem;
    }
}

.header__arrow-btn {
    position: absolute;
    top: 54%;
    width: 2.2rem;

    @include respond-tiny-width {
        width: 10vw;
    }

    @include respond-500 {
        top: 45%;
    }
}

/* --- INTRO ---*/
main {
    margin: 0 auto;
    max-width: $content-max-width;
}

.about {
    @include respond-800 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.about__img {
    width: 100%;
    height: 83vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top 0;

    @include respond-800 {
        flex-basis: 50%;
        align-self: stretch;
        height: auto;
    }

    @include respond-1100 {
        height: 42vw;
        max-height: calc(#{$content-max-width} / 2);
    }
}

.about__img--transf {
    background-image: url(../images/mobile/image-transform.jpg);

    @include respond-800 {
        order: 2;
        background-image: url(../images/desktop/image-transform.jpg);
    }
}

.about__img--stand-out {
    background-image: url(../images/mobile/image-stand-out.jpg);

    @include respond-800 {
        background-image: url(../images/mobile/image-stand-out.jpg);
    }
}

.about__content {
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4.1rem;
    @include mob-space-lr;
    max-width: 34rem;

    @include respond-500 {
        @include deskt-space-lr;
    }

    @include respond-800 {
        flex-basis: 50%;
        text-align: left;
        max-width: initial;
    }
}

.about__content-title {
    font-size: 2rem;
    color: $fc-title-base;

    @include respond-800 {
        font-size: clamp(2rem, 2.8vw, 3rem);
    }
}

.about__content-text {

    padding: 2rem 0;
    line-height: 1.65;
    color: $fc-neutral;

    @include respond-800 {
        font-size: clamp(1.125rem, 1.2vw, 1.3rem);
    }
}

.about__learn-more {
    position: relative;
    font-size: 1rem;
    text-transform: uppercase;
    color: $fc-title-base;

    &::after {
        position: absolute;
        left: 50%;
        top: 0.8rem;
        transform: translateX(-50%);
        width: 115%;
        height: 10px;
        content: "";
        border-radius: 1rem;
        transition: 0.3s ease-in-out;
        z-index: -1;
    }
}

.about__learn-more--transf {
    &::after {
        background-color: $yellow-light;
    }

    &:hover::after {
        background-color: $yellow;
    }
}

.about__learn-more--stand-out {
    &::after {
        background-color: $soft-red-light;
    }

    &:hover::after {
        background-color: $soft-red;
    }
}

.service {
    @include respond-800 {
        display: flex;
        flex-direction: row;
    }
}

.service__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // padding-top: 5rem;
    padding-bottom: 3.9rem;
    @include mob-space-lr;
    min-height: 37.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top 0;

    @include respond-500 {
        @include deskt-space-lr;
    }

    @include respond-800 {
        flex-basis: 50%;
    }

    @include respond-950 {
        height: 42vw;
        max-height: calc(#{$content-max-width} / 2);
    }
}

.service--design {
    color: $fc-dark-cyan;
    background-image: url("../images/mobile/image-graphic-design.jpg");

    @include respond-500 {
        background-image: url("../images/desktop/image-graphic-design.jpg");
    }
}

.service--photogr {
    color: $fc-dark-blue;
    background-image: url("../images/mobile/image-photography.jpg");

    @include respond-500 {
        background-image: url("../images/desktop/image-photography.jpg");
    }
}

.service__title {
    font-size: 1.75rem;
    text-transform: capitalize;
}

.service__text {
    @include max-text-width-tablet;
    padding-top: 1.7rem;
    font-size: 0.99rem;
    line-height: 1.65;
}

/* --- TESTIMONIALS ---*/
.testimonials {
    padding-top: 4rem;
    padding-bottom: 3.3rem;
    @include mob-space-lr;

    @include respond-500 {
        @include deskt-space-lr;
    }

    @include respond-800 {
        padding-top: 10rem;
        padding-bottom: 8rem;
    }
}

.testimon-title {
    padding-bottom: 2rem;
    font-size: 1.05rem;
    letter-spacing: 0.22rem;
    text-transform: uppercase;
    color: $fc-neutral-light;

    @include respond-800 {
        font-size: 1.25rem;
        letter-spacing: 0.33rem;
    }
}

.clients {
    @include respond-800 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.client {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2.2rem;

    @include respond-800 {
        padding-top: 3rem;
        max-width: 23rem;
    }
}

.client__avatar {
    width: 4.5rem;
    border-radius: 3rem;
    overflow: hidden;
}

.client__testimon {
    @include max-text-width-tablet;
    padding: 2rem 0;
    font-size: 1.11rem;
    line-height: 1.8;

    @include respond-800 {
        padding: 3.7rem 0.5rem 4.5rem 0.5rem;
    }
}

.client__info-name {
    color: $fc-title-base;
}

.client__info-position {
    padding-top: 0.7rem;
    font-size: 0.87rem;
    color: $fc-neutral-light;
}

/* --- GELLARY ---*/
.gellary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include respond-950 {
        grid-template-columns: repeat(4, 1fr);
    }
}

.gellary__item {
    width: 100%;
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include respond-950 {
        height: 30vw;
    }
}

.gellary__item--01 {
    background-image: url("../images/mobile/image-gallery-milkbottles.jpg");

    @include respond-800 {
        background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
    }
}

.gellary__item--02 {
    background-image: url("../images/mobile/image-gallery-orange.jpg");

    @include respond-800 {
    background-image: url("../images/desktop/image-gallery-orange.jpg");
    }
}

.gellary__item--03 {
    background-image: url("../images/mobile/image-gallery-cone.jpg");

    @include respond-800 {
        background-image: url("../images/desktop/image-gallery-cone.jpg");
    }
}

.gellary__item--04 {
    background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");

    @include respond-800 {
        background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
    }
}

/* --- FOOTER ---*/
.footer {
    padding-top: 4.5rem;
    padding-bottom: 1rem;
    @include mob-space-lr;
    background-color: $bg-cyan-light;

    @include respond-500 {
        @include deskt-space-lr;
    }
}

.footer__logo {
    margin: 0 auto;
    width: 10.5rem;

    path {
        fill: $svg-color;
    }
}

.footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    padding: 2.5rem 0;
    max-width: 25rem;

    @include respond-tiny-width {
        flex-direction: column;
    }
}

.footer__nav-item {
    a {
        color: $bg-cyan;
    }

    &:hover a {
        color: $white;
    }

    @include respond-tiny-width {
        padding: 0.5rem 0;
    }
}

.footer__socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    max-width: 10rem;
}

.footer__social-icon {
    width: 1.2rem;

    &:hover path {
        fill: $white;
    }

    a {
        display: block;
    }

    a[aria-label="Twitter"] {
        padding-top: 0.1rem;
    }
}
