@use "mixins" as *;

@include respond-1100 {
    /* Header logo and menu bottom fade in animation */
    .header__top {
        opacity: 0;
        transform: translateY(30px);
    }

    .loaded .header__top {
        animation: fadeIn 1s ease-in 0.2s forwards, slideIn 0.8s ease-in 0.4s forwards;
    }

    @keyframes fadeIn {
        60% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes slideIn {
        100% {
            transform: translateY(0);
        }
    }

    /* Horizontal and vertical lines animation */
    .header__lines-anim {
        position: absolute;
        top: 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .header__horizont-anim {
        display: flex;
    }

    .header__h-line {
        width: 50vw;
        height: 6px;
        background-color: white;
        transform: scaleX(0);
    }

    .loaded .header__line-left {
        animation: scaleLR 2s ease;
    }

    .loaded .header__line-right {
        transform-origin: right;
        animation: scaleRL 2s ease;
    }

    .header__v-line {
        height: 44vh;
        width: 6px;
        background-color: white;
        transform: scaleY(0);
    }

    .loaded .header__v-line {
        animation: scaleTB 2s ease 1s forwards;
    }

    @keyframes scaleLR {
        0% {
            transform-origin: left;
            transform: scaleX(0);
            opacity: 0;
        }
        45% {
            transform-origin: left;
            transform: scaleX(1);
            opacity: 1;
        }
        65% {
            transform-origin: right;
            transform: scaleX(1);
        }
        100% {
            transform-origin: right;
            transform: scaleX(0);
        }
    }

    @keyframes scaleRL {
        0% {
            transform-origin: right;
            transform: scaleX(0);
            opacity: 0;
        }
        45% {
            transform-origin: right;
            transform: scaleX(1);
            opacity: 1;
        }
        65% {
            transform-origin: left;
            transform: scaleX(1);
        }
        100% {
            transform-origin: left;
            transform: scaleX(0);
        }
    }

    @keyframes scaleTB {
        0% {
            transform-origin: top;
            transform: scaleY(0);
        }
        45% {
            transform-origin: top;
            transform: scaleY(1);
        }
        65% {
            transform-origin: bottom;
            transform: scaleY(1);
        }
        100% {
            transform-origin: bottom;
            transform: scaleY(0);
        }
    }

    /* Title animation */

    .header__title {
        overflow: hidden;
        transform-origin: top;
        animation: pullDown 0.5s ease-in-out 2.7s forwards;
    }

    .header__title-text {
        display: inline-block;
        transform: translateY(-100px);
    }

    .loaded .header__title-text {
        animation: slideDown 0.5s ease-in 2.2s forwards;
    }

    @keyframes slideDown {
        100% {
            transform: translateY(0);
        }
    }

    @keyframes pullDown {
        0% {
            transform: scaleY(2);
        }
        40% {
            transform: scaleY(0.7);
        }
        60% {
            transform: scaleY(1.3);
        }
        80% {
            transform: scaleY(1);
        }
    }

    /* Arrow animation */
    .header__arrow-btn {
        opacity: 0;
    }

    .loaded .header__arrow-btn {
        animation: showArrow 0.5s ease 2.8s forwards, 
        bounce 5s ease 3s infinite;
    }

    @keyframes showArrow {
        100% {
            opacity: 1;
        }
    }

    @keyframes bounce {
        0%,
        80%,
        90%,
        100% {
            -webkit-transform: translateY(0);
        }
        85% {
            -webkit-transform: translateY(-30px);
        }
        95% {
            -webkit-transform: translateY(-15px);
        }
    }
}
