@use "utilities" as *;
@use "queries" as *;

body {
    width: 100%;
    font-family: $ff-main;
    font-size: $fs;
    text-align: center;
    @include color-theme($bg-main);
}

h2,
h3 {
    font-size: 1.73rem;
    line-height: 1.2;
    color: $fc-h;
}

p {
    font-size: 1.05rem;
    line-height: 1.6;
}

button,
ul,
li,
a {
    color: $fc-h;
}

ul {
    list-style: none;

    a {
        text-decoration: none;
    }
}

/* Used to hide checkbox and being accessible 
   at the same time */
.vh {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* --- HEADER ---*/
.header {
    padding-top: 1.5rem;
    padding-left: max(1.5rem, calc(13.5% - 2rem));
    padding-right: max(1.5rem, calc(13.5% - 2rem));
    @include color-theme($bg-header);
    background-image: url("../images/bg-pattern-intro-mobile.svg"), $bg-header;
    background-repeat: no-repeat;
    background-position: left -21rem top -15rem, center;
    border-bottom-left-radius: 5rem;
}

.header-top {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.header-top__logo {
    width: 5rem;
}

.header-top__main {
    @include respond-900 {
        flex-basis: 70vw;
    }
}

.header-top__m-nav-btn-check {
    @include respond-900 {
        display: none;
    }
}

.header-top__m-nav-btn-label {
    display: block;
    width: 2rem;

    @include respond-900 {
        display: none;
    }
}

.header-top__m-nav-close {
    display: none;
}

.header-top__m-nav-btn-check:checked {
    & ~ .header-top__m-nav-btn-label > .header-top__m-nav-close {
        display: block;
        margin: 0 auto;
        width: 1.6rem;
    }
    & ~ .header-top__m-nav-btn-label > .header-top__m-nav-open {
        display: none;
    }
    & ~ .header-top__main-items {
        display: block;
    }

    @include respond-900 {
        & ~ .header-top__main-items {
            display: flex;
        }
    }
}

.header-top__main-items {
    position: absolute;
    top: 6.5rem;
    left: 0;
    display: none;
    padding: 1.5rem;
    width: 100%;
    @include color-theme(white);
    border-radius: 0.3rem;
    box-shadow: 0 0.5rem 3rem -1rem hsl(0deg 0% 0% / 70%);

    @include respond-900 {
        position: relative;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        background-color: transparent;
        box-shadow: none;
    }
}

.header-top__nav-menu {
    padding-bottom: 1.5rem;
    font-weight: 500;
    border-bottom: 1px solid $bg-main;

    @include respond-900 {
        display: flex;
        flex-direction: row;
        text-align: left;
        padding-bottom: 0;
        border: none;
    }
}

.header-top__nav-menu-item {
    position: relative;

    @include respond-900 {
        padding: 0 1rem;
    }
}

.header-top__submenu-toggle {
    position: relative;
    padding: 0.5rem 1rem 0.5rem 0;
    font-size: 1.15rem;
    font-weight: 600;
    background-color: transparent;
    border: none;

    &::before {
        position: absolute;
        top: 19px;
        right: 0;
        content: "";
        width: 0.45rem;
        height: 0.45rem;
        transform-origin: 0.15rem 0.15rem;
        transform: rotate(45deg);
        border-top: 2px solid $fc-btn-hover;
        border-left: 2px solid $fc-btn-hover;
        transition: transform 0.3s ease;
    }

    @include respond-900 {
        font-size: inherit;
        color: $fc-light;

        &::before {
            border-color: white;
        }

        &::after {
            position: absolute;
            bottom: 10px;
            left: 0;
            content: "";
            width: 80%;
            height: 2px;
            transform-origin: left;
            transform: scaleX(0);
            background-color: white;
            transition: transform 0.3s ease-in;
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }
}

.header-top__submenu-toggle.active {
    &::before {
        transform: rotate(225deg);
    }
    &::after {
        transform: scaleX(1);
    }
}

.header-top__submenu-toggle.active ~ .header-top__submenu {
    display: block;
}

.header-top__submenu {
    display: none;
    padding: 1rem;
    background-color: $bg-main;
    border-radius: 0.3rem;

    @include respond-900 {
        position: absolute;
        top: 53px;
        left: -0.3rem;
        padding: 1.3rem 3.5rem 1.3rem 1.3rem;
        background-color: white;
        box-shadow: 0 0.5rem 3rem -1rem hsl(0deg 0% 0% / 70%);
    }
}

.header-top__submenu-item {
    padding: 0.5rem 0;
    & a {
        color: $fc-h-light;
    }

    @include respond-900 {
        padding: 0.3rem 0;
    }
}

.header-top__account-btns {
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column;

    @include respond-900 {
        margin-top: 0;
        flex-direction: row;
    }
}

.header-top__account-login {
    margin: 0.5rem 0;
    background-color: transparent;
    border: none;

    @include respond-900 {
        margin: 0 1.5rem;
        @include btn-color-theme(transparent);
    }
}

.header-top__account-signup {
    margin: 0.5rem auto;
    @include btn-style;
    @include color-theme($bg-header);

    @include respond-900 {
        margin: 0;
        @include btn-color-theme(white);
    }
}

.header-intro {
    padding: 5rem 0;
}

.header-intro__title {
    font-size: clamp(2.2rem, 5vw, 3.9rem);
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: -0.1rem;
}

.header-intro__text {
    padding: 0.7rem 0;
    font-size: 1.19rem;
    font-weight: 300;
    line-height: 1.3;
}

.header-intro__btns {
    padding: 2.1rem 0;
}

.header-intro__btns > button {
    margin: 0.4rem;
    @include btn-style;
}

.header-intro__start-btn {
    @include btn-color-theme(white);
}

.header-intro__more-btn {
    @include btn-color-theme(transparent);
}

/* --- SECTIONS ---*/
/* --- Editor ---*/

.editor {
    padding-bottom: 17rem;
}

.editor__title {
    padding: $mob-pad;
    padding-top: 4.5rem;
    padding-bottom: 2rem;
}

.editor__illustr {
    height: 100vw;
    padding: 2.1rem 0;
    background-image: url("../images/illustration-editor-mobile.svg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    // overflow: hidden;

    // img {
    //     transform: scale(1.25);
    // }
}

.editor__content {
    padding: $mob-pad;
}

.editor__content-item-title {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

/* --- Speed ---*/
.speed {
    position: relative;
    padding: $mob-pad;
    padding-bottom: 7rem;
    font-weight: 200;
    @include color-theme($bg-grad-dark);
    background: url("../images/bg-pattern-circles.svg"), $bg-grad-dark;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top -16rem, center;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.speed__illustr {
    height: 8rem;
    img {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-11rem);
    }
}

.speed__title {
    padding-top: 5rem;
    padding-bottom: 1.5rem;
    font-size: 2.4rem;
    font-weight: 500;
    color: white;
}

/* --- Features ---*/
.features {
    padding-bottom: 4rem;
}
.features__illustr {
    padding-top: 7rem;
    padding-bottom: 1.7rem;
    overflow: hidden;

    img {
        transform: scale(1.3);
    }
}

.features__content {
    padding: $mob-pad;
}

.features__content-item-title {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

/* --- FOOTER ---*/
.footer {
    @include color-theme($bg-footer);
    border-top-right-radius: 5rem;
}

.footer-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.footer__logo {
    padding-bottom: 2rem;
    width: 6rem;
}

.footer__nav {
    padding-top: 1.3rem;
    font-size: 1.1rem;
}

.footer__nav-title {
    padding: 1.5rem 0;
    color: white;
}

.footer__nav-list {
    li {
        padding-bottom: 0.5rem;
    }
    a {
        color: $fc-footer;
    }
}
