@use 'vars' as *;
@use 'mixins' as *;

.attribution {
    padding: 1rem 0;
    font-size: 11px;
    text-align: center;
    color: $fc-light;

    @include respond-desktop {
        text-align: left;
        padding-left: 10.3rem;
    }
}

.attribution a {
    color: $fc-light;
}