@use 'vars' as *;
@use 'mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: $ff;
    font-size: 16px;
    color: $fc-dark;
    background: linear-gradient($bg-grad-from, $bg-grad-to) fixed;

    @include respond-desktop {
        background-image: url('../images/bg-pattern-desktop.svg'), linear-gradient(135deg, $bg-grad-from, $bg-grad-to);
        background-repeat: no-repeat;
        background-size: 57.64% 100%;
    }
}

img {
    display: block;
}

.master-page {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    @include respond-desktop {
        flex-wrap: wrap;
        max-width: 2560px;
        min-height: 700px;
    }
}

.logo {
    padding: 1.96rem 1.97rem;

    img {
        width: 6.25rem;
    }
    
    @include respond-desktop {
        flex-grow: 1;
        padding-top: 4rem;
        padding-bottom: 1.5rem;
        padding-left: 10.3rem;
        width: 57.64%;

        img {
            width: 158px;
        }
    }
}

.hero-img {
    height: 100%;
    min-height: 200px;
    background-image: url('../images/hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    @include respond-desktop {
        order: 3;
        flex-grow: 2;
        align-self: flex-end;
        width: 42.36%;
        overflow: hidden;
        background-image: url('../images/hero-desktop.jpg');
    }
}

.content {
    margin: 0 auto;
    padding: 4.125rem 2rem 2.2rem 2rem;
    max-width: 510px;
    text-align: center;

    @include respond-desktop {
        margin: 0;
        padding-top: 2.7rem;
        padding-left: 10.3rem;
        flex-grow: 1;
        max-width: 640px;
        width: 57.64%;
        text-align: left;
    }

    @include respond-tiny-width {
        padding: 3rem 2rem;
    }
}

.content__title {
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 0.68rem;
    line-height: 2.62rem;

    & span {
        font-weight: 300;
        color: $fc-light;
    }

    @include respond-desktop {
        font-size: 4em;
        letter-spacing: 1.08rem;
        line-height: 4.3rem;
    }

    @include respond-tiny-width {
        font-size: 2rem;
        letter-spacing: 0.25rem;
        line-height: 2.4rem;
    }
}

.content__text {
    padding: 1rem 0;
    font-size: 0.9em;
    line-height: 1.35rem;
    letter-spacing: -0.008rem;
    color: $fc-light;

    @include respond-desktop {
        font-size: 1em;
        line-height: 1.7rem;
        letter-spacing: 0.004rem;
        padding-top: 1.4rem;
        padding-bottom: 1.5rem;
    }
}

.content__send-form {
    position: relative;
    margin: 1rem 0;
}

.content__email-field {
    width: 100%;
    height: 47px;
    padding-left: 1.5rem;
    padding-right: 4.5rem;
    color: $fc-light;
    background: transparent;
    border: 1px solid hsla(0, 36%, 70%, 0.50);
    border-radius: 50px;

    &::placeholder {
        font-size: 0.85rem;
        font-family: $ff;
        color: hsla(0, 36%, 70%, 0.50);
    }

    &:focus {
        outline: none;
    }

    @include respond-desktop {
        font-size: 1em;
        height: 57px;
        padding-left: 1.8rem;
        padding-right: 7rem;

        &::placeholder {
            font-size: 1em;
        }
    }
}

.content__btn-container {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border-radius: 50px;

    @include respond-tiny-width {
        top: 3.3rem;
        right: 50%;
        transform: translateX(+50%);
    }
}

.content__send-btn {
    padding: 0.87rem 1.5rem 0.87rem 1.7rem;
    background: linear-gradient(135deg, $btn-grad-from, $btn-grad-to);
    border: none;
    border-radius: 50px;
    box-shadow: 0 14px 20px 0 hsla(0, 36%, 70%, 0.50);
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }

    @include respond-desktop {
        padding: 1.155rem 2.65rem;
    }
}