@use 'vars' as *;
@use 'mixins' as *;

.invalid {
    border: 2px solid $bg-bright;
}

.error {
    position: relative;

    &::before {
        content: 'Please provide a valid email!';
        position: absolute;
        top: 4.3rem;
        left: 2rem;
        font-size: 0.8em;
        color: $bg-bright;
    }

    &::after {
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        background-image: url('../images/icon-error.svg');
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        transform: translateY(-0.1rem);
    }

    @include respond-desktop {
        &::after {
            left: auto;
            top: 50%;
            transform: translateY(-50%);
            right: 7rem;
        }
    }
}