@use 'vars' as *;

.attribution {
    padding: 0.7rem;
    font-size: 11px;
    text-align: center;
    color: $neutral;
    border-top: 1px solid lightgrey;
}

.attribution a {
    color: $primary;
}
