@use 'vars' as *;
@use 'mixins' as *;
@use 'sass:color';

/*
    BASIC STYLES
*/

body {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: $ff;
    font-size: 20px;
    text-align: center;
}

*:focus {
    outline: none;
}

input,
button {
    width: 100%;
    margin: 0.35rem 0;
    padding: 0.7rem 2rem 0.55rem 2rem;
    font-size: clamp(0.74rem, 3vw, 1rem);
    border-radius: 30px;

    @include respond-medium {
        margin: 0.65rem 0;
        padding-top: 1rem;
        padding-bottom: 0.95rem;
    }
}

button {
    font-weight: 600;
    color: white;
    background-color: $primary;
    border: none;
    box-shadow: 0 0.25rem 0.4rem 0.2rem hsl(223deg 87% 63% / 25%);
    transition: transform 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: color.scale($primary, $lightness: 15%);
    }

    @include respond-medium {
        margin-left: 1rem;
        width: 45%;

        &:active {
            transform: scale(0.9);
        }
    }
}

/* Hidden content accessible for screen readers.
   https://www.a11yproject.com/posts/how-to-hide-content/
*/
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

a {
    text-decoration: none;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    // stroke: currentColor;
    fill: currentColor;
}

/*
    CONTENT STYLES
*/

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: clamp(5.31rem, 5%, 5.44rem);
    padding-bottom: 50px;
    padding-left: min(1.8rem, 8%);
    padding-right: min(1.8rem, 8%);
    max-width: 72rem;

    @include respond-medium {
        max-width: 640px;
    }
}

.logo {
    width: clamp(3.375rem, 15%, 5.4rem);
}

.header__title {
    padding-top: clamp(2.5rem, 8%, 3.625rem);
    font-size: clamp(1rem, 5.85vw, 3rem);
    line-height: 1.1;

    span {
        font-weight: 300;
        color: $neutral;
    }
}

.header__text {
    padding-top: 1.19rem;
    font-size: clamp(0.74rem, 3vw, 1.25rem);
}

.notify {
    // position: relative;
    display: flex;
    justify-content: center;
}

.notify__form {
    position: relative;
    margin: 1.45rem auto;
    margin-bottom: 0; // remove margin-bottom because parent is flex...
    width: clamp(7rem, 88%, 26.3rem);
    transition: all 0.3s ease-in-out;

    @include respond-medium {
        display: flex;
        flex-direction: row;
        width: 40rem;
    }
}

.notify__field {
    border: 1px solid $secondary-light;

    &::placeholder {
        color: $secondary-light;
    }

    &:focus {
        outline: none;
        border-color: $primary;
    }

    &:focus::placeholder {
        color: transparent;
    }
}

/*
    With more than one button in the page 
    arised the need of common button style
    so this one was moved at the beginning 
    with selector 'button'
*/
// .notify__btn {
//     font-weight: 600;
//     color: white;
//     background-color: $primary;
//     border: none;
//     box-shadow: 0 0.25rem 0.4rem 0.2rem hsl(223deg 87% 63% / 25%);
//     transition: transform 0.3s ease-in-out;

//     &:hover {
//         cursor: pointer;
//         background-color: color.scale($primary, $lightness: 15%);
//     }

//     @include respond-medium {
//         margin-left: 1rem;
//         width: 45%;

//         &:active {
//             transform: scale(0.9);
//         }
//     }
// }

.illustr {
    margin-top: 4rem;
    margin-bottom: 6.5rem;
    max-width: 40rem;

    @include respond-medium {
        margin-top: 4.8rem;
        margin-bottom: 3.4rem;
    }
}

.footer__socials {
    padding: 1.05rem;
}

.footer__soc-i {
    display: inline-block;
    margin: 0 0.22rem;
    padding-top: 0.2rem;
    width: 32px;
    height: 32px;
    border: 1px solid $secondary-light;
    border-radius: 20px;
    transition: all 0.2s ease;

    & > .icon {
        fill: $primary;
        transform: scale(0.7);
    }

    &:hover {
        cursor: pointer;
        background-color: $primary;
        border-color: transparent;
    }

    &:hover svg {
        fill: white;
    }
}

.footer__cpyr {
    padding: 0.45rem;
    padding-bottom: 0.7rem;
    font-size: 0.7rem;
    color: $neutral;

    @include respond-medium {
        padding-top: 0.2rem;
        font-size: 0.77rem;
    }
}
