@use "vars" as *;
@use "mixins" as *;

/*
    BASIC STYLES
*/

body {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: $ff;
    font-size: 20px;
    text-align: center;
}

p,
input,
button {
    font-size: clamp(0.74rem, 3vw, 1.25rem);
}

input,
button {
    width: 100%;
    margin: 0.35rem 0;
    padding: 0.7rem 2rem 0.55rem 2rem;
    border-radius: 30px;
}

/* Hidden content accessible for screen readers.
   https://www.a11yproject.com/posts/how-to-hide-content/
*/
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

a {
    text-decoration: none;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    // stroke: currentColor;
    fill: currentColor;
}

/*
    CONTENT STYLES
*/

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: clamp(5.31rem, 5%, 5.44rem);
    padding-bottom: 50px;
    padding-left: min(1.8rem, 8%);
    padding-right: min(1.8rem, 8%);
    max-width: 72rem;
    
    @include respond-medium {
        max-width: 640px;
    }
}

.logo {
    width: clamp(3.375rem, 14%, 5.4rem);
}

.header__title {
    padding-top: clamp(2.5rem, 5%, 3.625rem);
    font-size: clamp(1rem, 5.85vw, 3rem);
    line-height: 1.1;

    span {
        font-weight: 300;
        color: $neutral;
    }
}

.header__text {
    padding-top: clamp(1rem, 6%, 1.5rem);
    font-weight: 600;
}

.notify {
    margin: 1.45rem auto;
    width: max(88%, 7rem);
}

.notify__field {
    border: 1px solid $secondary-light;

    &::placeholder {
        color: $secondary-light;
    }
}

.notify__btn {
    font-weight: 600;
    color: white;
    background-color: $primary;
    border: none;
    box-shadow: 0 0.25rem 0.4rem 0.2rem hsl(223deg 87% 63% / 25%);
}

.illustr {
    margin-top: 4rem;
    margin-bottom: 6.5rem;
}

.footer__socials {
    padding: 1.06rem;
}

.footer__soc-i {
    display: inline-block;
    margin: 0 0.22rem;
    padding-top: 0.2rem;
    width: 32px;
    height: 32px;
    border: 1px solid $secondary-light;
    border-radius: 20px;
    transition: all 0.2s ease;

    &>.icon {
        fill: $primary;
        transform: scale(0.7);
    }

    &:hover {
        cursor: pointer;
        background-color: $primary;
        border-color: transparent;
    }

    &:hover svg {
        fill: white;
    }
}

.footer__cpyr {
    padding: 0.45rem;
}