@use "vars" as *;
@use "mixins" as *;

/*
    BASIC STYLES
*/

body {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: $ff;
    font-size: 20px;
    text-align: center;
}

p,
input,
button {
    font-size: clamp(0.8rem, 3vw, 1.25rem);
}

input,
button {
    margin: 0.5rem 0.4rem;
    padding: 0.8rem 2rem;
    border-radius: 30px;
}

/* Hidden content accessible for screen readers.
   https://www.a11yproject.com/posts/how-to-hide-content/
*/
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

a {
    text-decoration: none;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

/*
    CONTENT STYLES
*/

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: clamp(5.31rem, 5%, 5.44rem);
    padding-bottom: 50px;
    padding-left: min(1rem, 5%);
    padding-right: min(1rem, 5%);
    max-width: 72rem;
    
    @include respond-medium {
        max-width: 640px;
    }
}

.logo {
    width: clamp(3.375rem, 20%, 5.4rem);
}

.header__title {
    padding-top: clamp(2.69rem, 5%, 3.625rem);
    font-size: clamp(1rem, 6vw, 3rem);
    line-height: 1.1;

    span {
        font-weight: 300;
        color: $neutral;
    }
}

.header__text {
    padding-top: clamp(1.31rem, 5%, 1.5rem);
}

.notify {
    margin: 1.5rem 0;
}

.notify__field {
    width: 100%;
    border: 2px solid $secondary-light;

    &::placeholder {
        color: $secondary-light;
    }
}

.notify__btn {
    font-weight: 600;
    color: white;
    background-color: $primary;
    border: none;
}

.icon {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    fill: $primary;
    border: 1px solid black;
}