@use 'vars' as *;
@use 'mixins' as *;

/* On invalid field value... */
.invalid {
    border-color: $accent;
    
    &::placeholder {
        color: transparent;
    }
}

/* Error message style */
.error-m {
    width: fit-content;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(0.3rem);
    font-size: clamp(0.65rem, 2vw, 0.77rem);
    font-style: italic;
    color: $accent;
    opacity: 0.3;
    transition: all 0.5s ease;

    @include respond-medium {
        left: 2rem;
        transform: translateX(0) translateY(2rem);
    }
}

.emerge {
    transform: translateX(-50%) translateY(1.4rem);
    opacity: 1;

    @include respond-medium {
        transform: translateX(0) translateY(3.2rem);
    }
}

/* - Move button down on showing the message in mobile view */
.move-btn-down {
    transform: translateY(2rem);

    @include respond-medium {
        transform: translateY(0);
    }
}
