@use 'vars' as *;
@use 'mixins' as *;

.article-container {
    position: relative;
    width: 100%;
    max-width: 465px;
    background-color: white;
    border-radius: $round-corners;
    box-shadow: 0 2rem 2rem 0 hsla(217, 19%, 35%, 0.1);

    @include respond-desktop {
        max-width: 730px;
        display: flex;
        flex-direction: row;
    }
}

.article-img {
    width: 100%;
    height: 200px;
    background-image: url(../images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    @include respond-desktop {
        flex-basis: 39%;
        min-width: 285px;
        height: auto;
        background-position: 0rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
}

.article-content {
    padding: 2.25rem 2rem 0 2rem;

    @include respond-desktop {
        flex-basis: 61%;
        padding: 2.05rem 2.5rem 1.4rem 2.5rem;
    }
}

.article-content__title {
    font-size: 1.26em;
    line-height: 1.5rem;

    @include respond-desktop {
        font-size: 1.58em;
        line-height: 1.75rem;
    }
}

.article-content__text {
    padding: 0.8rem 0;
    line-height: 1.25rem;
    letter-spacing: 0.01rem;
    color: $fc-light;

    @include respond-desktop {
        padding: 0.7rem 0;
        letter-spacing: 0.007rem;
    }
}

.article-content__footer {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;

    @include respond-desktop {
        padding: 0.6rem 0;
    }
}

.article-content__author-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.article-content__avatar {
    margin-right: 1rem;
    width: 40px;
    border-radius: 100%;
}

.article-content__author-name {
    font-size: 1em;
    margin-right: 2rem;
}

.article-content__date {
    padding-top: 0.15rem;
    color: $bg-light;
}

.article-content__share-btn {
    padding: 0.5rem;
    background-color: $bg-main;
    border: none;
    border-radius: 100%;
    z-index: 10;
    transition: 0.3s ease;

    &:hover {
        cursor: pointer;
        outline: none;
    }

    &:focus {
        outline: none;
    }

    // &:hover, &:focus {
    //     background-color: $fc-light;
    //     cursor: pointer;
    // }

    // &:hover path, &:focus path {
    //     fill: white;
    // }
}

.article-content__tooltip {
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.25rem 2rem;
    width: 100%;
    background-color: $fc-main;
    border-bottom-left-radius: $round-corners;
    border-bottom-right-radius: $round-corners;
    transition: 0.5s ease;

    @include respond-desktop {
        width: fit-content;
        border-radius: $round-corners;
        right: -68px;
        bottom: 96px;
        padding: 1.1rem 1.25rem 0.9rem 2.25rem;

        &::after {
            content: "";
            width: 1rem;
            height: 1rem;
            background-color: $fc-main;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: rotate(45deg) translateY(75%);
        }
    }
}

.article-content__tooltip-title {
    padding-top: 0.07rem;
    padding-right: 1.2rem;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: $bg-light;
}

.article-content__tooltip-links a {
    text-decoration: none;
    padding-right: 0.85rem;
}