@use 'vars' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: $ff;
    font-size: 13px;
    color: $fc-main;
    background-color: $bg-main;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    margin: auto;
    padding: 1.5rem;
}