// Colors
$bg-main: hsl(210, 46%, 95%);
$bg-light: hsl(212, 23%, 69%);
$fc-light: hsl(214, 17%, 51%);
$fc-main: hsl(217, 19%, 35%);

// Fonts
$ff: 'Manrope', sans-serif;

// Units
$round-corners: 10px;