// Colors
$primary: hsl(223, 87%, 63%);
$secondary-light: hsl(223, 100%, 88%);
$accent: hsl(354, 100%, 66%);
$neutral: hsl(0, 0%, 59%);
$fc: hsl(209, 33%, 12%);

// Fonts
$ff: 'Libre Franklin', sans-serif;