@use 'sass:color';

/* COLORS */
$mod-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);
$mod-gray: color.adjust($dark-gray, $lightness: 38%);
$light-gray: color.adjust($dark-gray, $lightness: 43%);
$lighter-gray: color.adjust($dark-gray, $lightness: 48%);

/* FONTS */
$ff: 'Commissioner', sans-serif;
$fs: 0.88rem;
$fs-deskt: 1rem;