/* Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin. */
* {
  margin: 0;
  padding: 0;
}

/* Allow percentage-based heights in the application.
   (On adding height: 100% to the html selector the beginning of the page is cutted if justify-content: center is set.)
*/
body {
  min-height: 100vh;
}

/* Typographic tweaks!
   - Add accessible line-height
   - Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults. */
img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

/* Remove built-in form typography styles. */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows. */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll 
   for people that prefer not to see them.
*/
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* --------------
    BASIC STYLES
*/
body {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  text-align: center;
}

*:focus {
  outline: none;
}

input,
button {
  width: 100%;
  margin: 0.35rem 0;
  padding: 0.7rem 2rem 0.55rem 2rem;
  font-size: clamp(0.74rem, 3vw, 1rem);
  border-radius: 30px;
}
@media only screen and (min-width: 800px) {
  input,
button {
    margin: 0.65rem 0;
    padding-top: 1rem;
    padding-bottom: 0.95rem;
  }
}

button {
  font-weight: 600;
  color: white;
  background-color: #4f7df3;
  border: none;
  box-shadow: 0 0.25rem 0.4rem 0.2rem rgba(79, 125, 243, 0.25);
  transition: transform 0.3s ease-in-out;
}
button:hover {
  cursor: pointer;
  background-color: #6991f5;
}
@media only screen and (min-width: 800px) {
  button {
    margin-left: 1rem;
    width: 45%;
  }
  button:active {
    transform: scale(0.9);
  }
}

/* Hidden content accessible for screen readers.
   https://www.a11yproject.com/posts/how-to-hide-content/
*/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  fill: currentColor;
}

/* ----------------
    CONTENT STYLES
*/
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: clamp(5.31rem, 5%, 5.44rem);
  padding-bottom: 50px;
  padding-left: min(1.8rem, 8%);
  padding-right: min(1.8rem, 8%);
  max-width: 72rem;
}
@media only screen and (min-width: 800px) {
  .wrapper {
    max-width: 640px;
  }
}

.logo {
  width: clamp(3.375rem, 15%, 5.4rem);
}

.header__title {
  padding-top: clamp(2.5rem, 8%, 3.625rem);
  font-size: clamp(1rem, 5.85vw, 3rem);
  line-height: 1.1;
}
.header__title span {
  font-weight: 300;
  color: #969696;
}

.header__text {
  padding-top: 1.19rem;
  font-size: clamp(0.74rem, 3vw, 1.25rem);
}

.notify {
  display: flex;
  justify-content: center;
}

.notify__form {
  position: relative;
  margin: 1.45rem auto;
  margin-bottom: 0;
  width: clamp(7rem, 88%, 26.3rem);
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 800px) {
  .notify__form {
    display: flex;
    flex-direction: row;
    width: 40rem;
  }
}

.notify__field {
  border: 1px solid #c2d3ff;
  z-index: 1;
}
.notify__field::placeholder {
  color: #c2d3ff;
  opacity: 1;
}
.notify__field:focus {
  outline: none;
  border-color: #4f7df3;
}
.notify__field:focus::placeholder {
  color: transparent;
}

/*
    With more than one button in the page 
    arose the need of common button style
    so this one was moved at the beginning 
    with selector 'button'
*/
.illustr {
  margin-top: 4rem;
  margin-bottom: 6.5rem;
  max-width: 40rem;
}
@media only screen and (min-width: 800px) {
  .illustr {
    margin-top: 4.8rem;
    margin-bottom: 3.4rem;
  }
}

.footer__socials {
  padding: 1.05rem;
}

.footer__soc-i {
  display: inline-block;
  margin: 0 0.22rem;
  padding-top: 0.2rem;
  width: 32px;
  height: 32px;
  border: 1px solid #c2d3ff;
  border-radius: 20px;
  transition: all 0.2s ease;
}
.footer__soc-i > .icon {
  fill: #4f7df3;
  transform: scale(0.7);
}
.footer__soc-i:hover {
  cursor: pointer;
  background-color: #4f7df3;
  border-color: transparent;
}
.footer__soc-i:hover svg {
  fill: white;
}

.footer__cpyr {
  padding: 0.45rem;
  padding-bottom: 0.7rem;
  font-size: 0.7rem;
  color: #969696;
}
@media only screen and (min-width: 800px) {
  .footer__cpyr {
    padding-top: 0.2rem;
    font-size: 0.77rem;
  }
}

.attribution {
  padding: 0.7rem;
  font-size: 11px;
  text-align: center;
  color: #969696;
  border-top: 1px solid lightgrey;
}

.attribution a {
  color: #4f7df3;
}

/* On invalid field value... */
.invalid {
  border-color: #ff5263;
}
.invalid::placeholder {
  color: transparent;
}

/* Error message style */
.error-m {
  width: fit-content;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(0.3rem);
  font-size: clamp(0.65rem, 2vw, 0.77rem);
  font-style: italic;
  color: #ff5263;
  opacity: 0.3;
  transition: all 0.5s ease;
}
@media only screen and (min-width: 800px) {
  .error-m {
    left: 2rem;
    transform: translateX(0) translateY(2rem);
  }
}

.emerge {
  transform: translateX(-50%) translateY(1.4rem);
  opacity: 1;
}
@media only screen and (min-width: 800px) {
  .emerge {
    transform: translateX(0) translateY(3.2rem);
  }
}

/* - Move button down on showing the message in mobile view */
.move-btn-down {
  transform: translateY(2rem);
}
@media only screen and (min-width: 800px) {
  .move-btn-down {
    transform: translateY(0);
  }
}

/* Success styles */
.sbm-success {
  position: absolute;
  margin: 1.45rem auto;
  margin-bottom: 0;
  width: clamp(7rem, 75%, 26.3rem);
  transform: translateY(-2rem);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.3s;
}
@media only screen and (min-width: 800px) {
  .sbm-success {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 40rem;
  }
}

.sbm-success__m {
  width: 100%;
  margin: 0.35rem 0;
  padding: 0.7rem 2rem 0.55rem 2rem;
  font-size: clamp(0.74rem, 3vw, 1rem);
  font-weight: 600;
  color: #4f7df3;
  background-color: #e0e9ff;
  border-radius: 30px;
}
@media only screen and (min-width: 800px) {
  .sbm-success__m {
    margin: 0.65rem 0;
    padding-top: 1rem;
    padding-bottom: 0.95rem;
  }
}

/* Hide the notify form */
.success {
  transform: translateY(-2rem);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

/* Show success */
.show {
  transform: translateY(0);
  opacity: 1;
}
@media only screen and (min-width: 800px) {
  .show {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}