@use 'vars' as *;
@use 'sass:color';

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 1rem;
    color: $accent;
}

.attribution a {
    color: color.scale($accent, $lightness: 30%);
}