@use 'vars' as *;
@use 'mixins' as *;
@use 'sass:color';

/* --------------
    BASIC STYLES
*/

body {
    display: flex;
    width: 100%;
    padding: 0 clamp(2.25rem, 5%, 5rem);
    font-family: $ff-p;
    text-align: center;
    color: white;
    background-color: $primary;
    background-image: url('../images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100%;

    @include respond-medium {
        text-align: left;
        background-image: url('../images/bg-desktop.svg');
        background-size: auto 100%;
    }
}

h1, a {
    font-family: $ff-h;
}

*:focus {
    outline: none;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    fill: white;
    // fill: currentColor;
}

/* ----------------
    CONTENT STYLES
*/
.wrapper {
    border: 1px solid pink;
    display: flex;
    flex-direction: column;
    
    @include respond-medium {
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1680px;
    }
}

.logo__img {
    width: clamp(7.7rem, 15vw, 15rem);
    padding-top: 2rem;
    padding-bottom: 3.8rem;
    
    @include respond-medium {
        padding-top: 3.3rem;
        padding-bottom: 4.5rem;
    }
}

.intro {
    @include respond-medium {
        display: flex;
        flex-direction: row;
    }
}

.intro-img {

    @include respond-medium {
        flex-basis: 55.2%;
    }
}

.intro-content {
    @include respond-medium {
        flex-basis: 45.6%;
        padding: 2.7rem 1rem 3.3rem 3.3rem;
    }
}

.intro-content__title {
    padding-top: 3.7rem;
    font-size: clamp(1.5rem, 2.76vw, 3.5rem);

    @include respond-medium {
        padding-top: 0;
    }
}

.intro-content__text {
    padding-top: 0.9rem;
    padding-bottom: 1.5rem;
    font-size: clamp(1rem, 1.25vw, 1.5rem);
    font-weight: 400;

    @include respond-medium {
        padding-top: 1.3rem;
    }
}

.intro-content__btn {
    display: block;
    width: clamp(12.5rem, 35vw, 12.5rem);
    margin: 0 auto;
    padding: 0.65rem 3rem;
    font-size: clamp(0.8rem, 1.25vw, 1.5rem);
    text-align: center;
    text-decoration: none;
    background-color: white;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0.3rem 0.5rem 0.2rem color.adjust($primary, $lightness: -50%, $alpha: -0.7);

    &:hover {
        color: white;
        background-color: $accent;
    }

    @include respond-medium {
        margin: 0;
        padding: 0.9rem 3rem;

        &:active {
            transform: scale(0.9);
        }
    }
}

.socials {
    

    @include respond-medium {
        display: flex;
        justify-content: end;
        padding-top: 0.6rem;
    }
}

.soc-i {
    display: inline-block;
    margin: 0 0.4rem;
    padding-top: 0.6rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid white;
    border-radius: 20px;
    transition: all 0.2s ease;

    & > .icon {
        transform: scale(1.2);
    }

    &:hover {
        cursor: pointer;
        border-color: $accent;
    }

    &:hover svg {
        fill: $accent;
    }

    @include respond-medium {
        margin: 0 0.5rem;
        padding-top: 0.6rem;
        padding-left: 0.7rem;
    }
}
