@use "utilities" as *;

body {
    font-family: $ff;
    font-size: $fs;
    color: $dark-gray;
    background-color: $lighter-gray;
}

main {
    transform: translateY(-5rem);
}

.container {
    margin: 0 auto;
    width: 88%;
}

h1,
h2,
h3 {
    line-height: 1.2;
    color: $black;
}

li {
    list-style: none;
}

button {
    padding: 0.9rem 1rem;
    width: 100%;
    max-width: 10rem;
    font-weight: 500;
    line-height: 1.4;
    color: white;
    background-color: #3cb4ac;
    border: none;
    border-radius: 2rem;

    &:hover {
        background-color: $dark-cyan;
    }

    &[disabled] {
        background-color: $dark-gray;
        opacity: 0.8;
    }
}

/* Used to hide checkbox and being accessible 
   at the same time */
.vh {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.crowdfund__modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-6.5%);
    display: none;
    width: 115%;
    height: 100vh;
    background: linear-gradient(black, transparent);
}

/* HEADER */
.crowdfund {
    min-height: 18.75rem;
    background-image: url("../images/image-hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.crowdfund__content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.crowdfund__logo {
    position: relative;
    width: 8rem;
    z-index: 100;
}

.crowdfund__menu {
    font-size: 1.1rem;
    font-weight: 500;

    label {
        position: relative;
        display: block;
        width: 1rem;
        z-index: 100;
    }
}

.crowdfund__menu--closed {
    display: block;
}

.crowdfund__menu--opened {
    display: none;
}

.crowdfund__toggle:checked {
    &~ label > .crowdfund__menu--closed {
        display: none;
    }
    &~ label > .crowdfund__menu--opened {
        display: block;
    }

    ~ .crowdfund__nav {
        display: block;
    }
}

.crowdfund__nav {
    position: absolute;
    top: 5.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: 100%;
    background-color: white;
    border-radius: 0.5rem;
    z-index: 100;
}

.crowdfund__nav-item {
    padding: 1.4rem 1.5rem;

    &:not(:last-child) {
        border-bottom: 1px solid $light-gray;
    }
}

/* MAIN */
.product-container {
    margin-top: 1.5rem;
    padding: 1.4rem;
    background-color: white;
    border: 1px solid $light-gray;
    border-radius: 0.5rem;
}

.mastercraft {
    position: relative;
    text-align: center;
}

.mastercraft__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 3.5rem;
}

.mastercraft__title {
    padding-top: 1.7rem;
    font-size: 1.32rem;
}

.mastercraft__descr {
    padding: 1rem 0;
}

.mastercraft__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.mastercraft__btn {
    width: 77%;
    max-width: 14rem;
    padding: 1.05rem 1rem;
    font-size: 0.95rem;
}

.mastercraft__bookmark {
    
}

.campaign {
    text-align: center;
}

.campaign__stat-item {
    position: relative;
    
    &:not(:last-child) {
        padding-bottom: 2.2rem;

        &::after {
            position: absolute;
            width: 5rem;
            height: 1px;
            content: '';
            margin-top: 1.2rem;
            transform: translateX(-50%);
            background-color: $mod-gray;
        }
    }
}

.campaign__amount {
    font-size: 2rem;
    font-weight: 700;
    color: $black;
}

.campaign__progress {
    margin-top: 1.7rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 0.75rem;
    background-color: $light-gray;
    border-radius: 1rem;
}

.campaign__progress-bar {
    width: 89.9%;
    height: 100%;
    background-color: $mod-cyan;
    border-radius: 1rem;
}

.project__descr {
    padding: 1rem 0;
}