@use 'utilities' as *;

.card {
    margin: 1.5rem 0;
    padding: 1.4rem;
    border: 1px solid $mod-gray;
    border-radius: 0.5rem;
}

.card__title {
    font-size: 0.9rem;
}

.card__pledge-amount {
    font-weight: 500;
    color: $mod-cyan;
}

.card__descr {
    padding: 1.5rem 0;
}

.card__count-info {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;

    & > span {
        padding-right: 0.5rem;
        font-size: 2rem;
        font-weight: 700;
        transform: translateY(-0.1rem);
        color: $black;
    }
}