@use 'vars' as *;
@use 'mixins' as *;

.rates {    
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;

    @include respond-medium {
        flex-basis: 50%;
        padding: 0;
    }
}

.rates-content {
    @include respond-medium {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.5rem;
        margin-left: 1.1rem;
    }
}

.rates-content__rate {
    margin: 0.9rem 0;
    padding: 1rem;
    font-size: $fs-small;
    text-align: center;
    font-weight: 700;
    color: $dark-bold-color;
    background-color: $bg-light;
    border-radius: $round-corners;

    @include respond-medium {
        display: flex;
        flex-direction: row;
        max-width: calc(#{$max-container} / 2);
        width: 100%;
        margin: 0.45rem 0;
        padding: 1.35rem 1rem 1rem 1.6rem;

        &:first-child {
            align-self: flex-start;
        }

        &:last-child {
            align-self: flex-end;
        }
    }
}

.rates-content__stars {
    padding-bottom: 0.745rem;

    @include respond-medium {
        padding: 0;
        padding-right: 1.9rem;
    }
}

.rates-content__stars img {
    padding: 0 0.15rem;
}