// Colors
$accent: hsl(0, 100%, 74%);
$bg-btn: hsl(154, 59%, 51%);
$bg-offer: hsl(248, 32%, 49%);
$fc-dark: hsl(249, 10%, 26%);
$fc-light: hsl(246, 25%, 77%);

// Fonts
$ff: 'Poppins', sans-serif;

// Transparent shadow
$transp-shadow: 0 8px 0 0 darken(hsla(248, 32%, 49%, 0.15), 50%);