// Colors
$bg-bright: hsl(0, 93%, 68%);
$fc-dark: hsl(0, 6%, 24%);
$fc-light: hsl(0, 36%, 70%);

// - gradients
$bg-grad-from: hsl(0, 0%, 100%);
$bg-grad-to: hsl(0, 100%, 98%);
$btn-grad-from: hsl(0, 80%, 86%);
$btn-grad-to: hsl(0, 74%, 74%);


// Fonts
$ff: 'Josefin Sans', sans-serif;