/* Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin. */
* {
  margin: 0;
  padding: 0;
}

/* Allow percentage-based heights in the application.
   (On adding height: 100% to the html selector the beginning of the page is cutted if justify-content: center is set.)
*/
body {
  min-height: 100vh;
}

/* Typographic tweaks!
   - Add accessible line-height
   - Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults. */
img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
}

/* Remove built-in form typography styles. */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows. */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll 
   for people that prefer not to see them.
*/
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* COLORS */
/* Primary */
/* Neutral */
/* FONTS */
/* Font size (card titles e.g. Work, Play) */
/* Font family */
/* MEASURES */
/* Round corners */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: white;
  background-color: #0f1424;
}

.report {
  display: grid;
  column-gap: clamp(1.5rem, 5rem, 1.875rem);
  row-gap: clamp(1.5rem, 5vw, 1.75rem);
  margin: 1.5rem auto;
  margin-top: 4.5rem;
  max-width: 1110px;
  width: 87%;
}
@media only screen and (min-width: 468px) {
  .report {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 685px) {
  .report {
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
  }
}
@media only screen and (min-width: 1000px) {
  .report {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* REPORT SUBJECT */
.report-subject {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1c1f4a;
  border-radius: 1rem;
}
@media only screen and (min-width: 468px) {
  .report-subject {
    grid-column: span 2;
  }
}
@media only screen and (min-width: 685px) {
  .report-subject {
    grid-row: span 3;
    grid-column: initial;
  }
}
@media only screen and (min-width: 1000px) {
  .report-subject {
    grid-row: span 2;
  }
}

.person {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 1.8rem;
  background-color: #5847eb;
  border-radius: 1rem;
}
@media only screen and (min-width: 685px) {
  .person {
    flex-basis: 65%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 335px) {
  .person {
    flex-direction: column;
    align-items: center;
  }
}

.person__avatar {
  margin-right: 1rem;
  width: clamp(4rem, 26%, 5rem);
}
.person__avatar > img {
  background-color: white;
  border: 3px solid white;
  border-radius: 100px;
}
@media only screen and (min-width: 685px) {
  .person__avatar {
    padding-bottom: 1rem;
    width: clamp(4.5rem, 53%, 5.3rem);
  }
}
@media only screen and (max-width: 335px) {
  .person__avatar {
    margin: 0;
    margin-bottom: 1rem;
  }
}

.person__name {
  font-size: clamp(0.9rem, 2vw, 1rem);
  font-weight: 300;
  line-height: 1.65rem;
  color: #bdc1ff;
}
.person__name > span {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  color: white;
}
@media only screen and (min-width: 685px) {
  .person__name {
    line-height: 1.7rem;
    padding-top: 1.1rem;
    padding-bottom: 2.9rem;
  }
  .person__name > span {
    display: inline-block;
    line-height: 3rem;
    animation: revealName 0.3s ease-in;
  }
}
@media only screen and (max-width: 335px) {
  .person__name {
    text-align: center;
  }
}

.timeframes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.4rem 2rem 1.1rem 2rem;
}
@media only screen and (min-width: 468px) {
  .timeframes {
    justify-content: space-around;
  }
}
@media only screen and (min-width: 685px) {
  .timeframes {
    flex-direction: column;
    padding: 0.5rem 2rem 1.85rem 2rem;
  }
}
@media only screen and (max-width: 335px) {
  .timeframes {
    flex-direction: column;
    align-items: center;
  }
}

.timeframes__item {
  color: #6f76c8;
}
.timeframes__item > input:checked + label {
  color: white;
}
.timeframes__item:hover label {
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}
@media only screen and (min-width: 685px) {
  .timeframes__item {
    padding-top: 0.9rem;
  }
}

/* REPORT ENTITIES */
.statistic {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 2.3rem;
  background-repeat: no-repeat;
  background-position: top -0.7rem right 1rem;
  border-radius: 1rem;
  border-bottom-left-radius: 1.3rem;
  border-bottom-right-radius: 1.3rem;
}
@media only screen and (min-width: 685px) {
  .statistic {
    padding-top: 2.8rem;
  }
}

.statistic_work-theme {
  background-color: #ff8c66;
  background-image: url("../images/icon-work.svg");
}

.statistic_play-theme {
  background-color: #56c2e6;
  background-image: url("../images/icon-play.svg");
  background-position: top -0.3rem right 1.5rem;
}

.statistic_study-theme {
  background-color: #ff5c7c;
  background-image: url("../images/icon-study.svg");
}

.statistic_exercise-theme {
  background-color: #4acf81;
  background-image: url("../images/icon-exercise.svg");
  background-position: top 0rem right 1rem;
}

.statistic_social-theme {
  background-color: #7536d3;
  background-image: url("../images/icon-social.svg");
}

.statistic_selfcare-theme {
  background-color: #f1c65b;
  background-image: url("../images/icon-self-care.svg");
}

.stat-content {
  position: relative;
  width: 100%;
  padding: 1.6rem 1.45rem 1.35rem 1.45rem;
  background-color: #1c1f4a;
  border-radius: 1rem;
  transition: 0.2s ease-in;
}
.stat-content:hover {
  background-color: #292f70;
}
@media only screen and (min-width: 685px) {
  .stat-content {
    padding: 1.6rem 1.8rem 2.2rem 1.8rem;
  }
}

.stat-content__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.stat-content__title {
  font-size: 1.2rem;
  font-weight: 400;
}

.stat-content__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
}

.stat-content__data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 468px) {
  .stat-content__data {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0.5rem;
  }
}
@media only screen and (min-width: 685px) {
  .stat-content__data {
    padding-top: 0.6rem;
    animation: revealStatCont 1s ease-in;
  }
}
@media only screen and (max-width: 335px) {
  .stat-content__data {
    flex-direction: column;
    align-items: center;
  }
}

.stat-content__current {
  font-size: clamp(1.9rem, 5vw, 3.5rem);
  font-weight: 300;
  overflow: hidden;
}
.stat-content__current span {
  display: inline-block;
  animation: revealDig 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.stat-content__prev {
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 1rem;
  color: #bdc1ff;
}

/*  -------------------------------
    Options menu button base styles
*/
.stat-content__tog-btn {
  position: relative;
  width: 21px;
  height: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.stat-content__tog-btn:hover span, .stat-content__tog-btn:focus span {
  background-color: white;
}

.stat-content__tog-btn[aria-expanded=true] {
  width: 16px;
  height: 16px;
  z-index: 10;
}

.stat-content__btn-el {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: #bdc1ff;
  border-radius: 10px;
  transition: all 0.2s ease-out;
}

.stat-content__btn-el:first-child {
  transform: translateX(calc(-8px - 50%)) translateY(-50%);
}

.stat-content__btn-el:last-child {
  transform: translateX(calc(8px - 50%)) translateY(-50%);
}

.stat-content__btn-el:nth-child(2) {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.stat-content__btn-el:nth-child(3) {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

/*  -------------------------------
    On click state...
*/
.stat-content__btn-el_close:first-child,
.stat-content__btn-el_close:last-child {
  transform: translateX(-50%) translateY(-50%);
}

.stat-content__btn-el_close:nth-child(2),
.stat-content__btn-el_close:nth-child(3) {
  width: 20px;
}

/*  ------------------------
    Options menu base styles
*/
.opt-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.1);
  opacity: 0;
  padding-top: 2rem;
  padding-left: 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
  font-weight: 300;
  color: #bdc1ff;
  background-color: #292f70;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  z-index: 5;
}

.opt-menu_scale {
  transform: translateX(-50%) translateY(-50%) scale(1);
  opacity: 1;
}

.opt-menu_hidden {
  display: none;
  z-index: -1;
}

/*  ------------------------
    Options menu content
*/
.opt-menu__text {
  display: none;
  padding-bottom: 0.5rem;
}
@media only screen and (min-width: 468px) {
  .opt-menu__text {
    display: block;
  }
}

.opt-menu__time-unit:hover {
  color: white;
}
.opt-menu__time-unit label {
  padding-left: 0.7rem;
  text-transform: capitalize;
}
.opt-menu__time-unit label:hover {
  cursor: pointer;
}
.opt-menu__time-unit input:checked ~ label {
  position: relative;
  color: white;
}
.opt-menu__time-unit input:checked ~ label::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 10px;
}

/* Used to hide radio button 
   and being accessible at the same time */
.vh {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #6f76c8;
  font-weight: 300;
  padding: 1rem;
}

.attribution a {
  color: #6f76c8;
}

@keyframes revealName {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(1);
    opacity: 1;
  }
}
@keyframes revealStatCont {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes revealDig {
  0% {
    transform: translate(0, 70%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}