@use 'utilities' as *;

.attribution {
    padding-top: 1rem;
    padding-bottom: 1.4rem;
    font-size : 11px;
    font-weight: 300;
    text-align: center;
    color: $neutral-dark-56;
}

.attribution a {
    color: $neutral-dark-43;
}