@use "utilities" as *;
@use "mixins" as *;

body {
    width: 100%;
    font-family: $ff;
    font-size: $fs;
    font-weight: 700;
    color: $neutral-dark-43;
    background-color: $neutral-light;
}

input,
button,
input[type='radio'] + label {
    display: block;
    width: 100%;
    padding: 0.3rem 1rem;
    font-family: $ff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: $roundness;
}

input {
    text-align: right;
    color: $neutral-dark-bg;
    background-color: $neutral-very-light;

    &:hover,
    &:focus {
        outline: 2px solid $primary-strong;
        cursor: pointer;
    }
}

input[type='radio'] + label {
    transition: 0.3s ease-in-out;

    &:hover {
        @include btn-theme($primary-light);
        cursor: pointer;
    }
}

input[type='radio']:checked + label {
    @include btn-theme($primary-strong);
}

/* Used to hide the calculator description title */
.vh {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* ---------------------------------
   CALCULATOR STYLES
 */
.title {
    width: 5rem;
    margin: 0 auto;
    padding: 2.5rem 0;
}

.calc {
    padding: 1.5rem 1.5rem;
    background-color: $white;
    border-radius: 1.5rem;
}

.calc__label {
    font-size: 0.95rem;
}

/* Calculator input part */
.calc__input {
    padding: 0 0.5rem;
}

.calc__label--in-theme {
    color: label-fc(white);
}

.calc__in-bill {
    background-image: url('../images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: center left 1rem;
}

.calc__tips-btns {
    display: grid;
    padding: 1rem 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.calc__tip-btn {
    @include btn-theme($neutral-dark-bg);
}

.calc__in-num-pple {
    background-image: url('../images/icon-person.svg');
    background-repeat: no-repeat;
    background-position: center left 1rem;
}

/* Calculator output part */
.calc__output {
    margin: 2rem 0;
    padding: 1.3rem;
    background-color: $neutral-dark-bg;
    border-radius: 1rem;
}

.calc__results {
    padding: 1rem 0;
}

.calc__results-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
}

.calc__label--out-theme {
    color: label-fc($neutral-dark-bg);

    span {
        font-size: 0.8rem;
        color: $neutral-dark-56;
    }
}

.calc__result {
    font-size: 2rem;
    color: $primary-strong;
}

.calc__reset {
    font-size: 1.25rem;
    text-transform: uppercase;
    @include btn-theme($neutral-dark-bg-bright);
}

.calc__reset--active {
    @include btn-theme($primary-strong);
    transition: 0.3s ease-in-out;

    &:hover {
        @include btn-theme($primary-light);
        cursor: pointer;
    }
}