@use "utilities" as *;
@use "mixins" as *;

body {
    width: 100%;
    font-family: $ff;
    font-size: $fs;
    font-weight: 700;
    color: $neutral-dark-43;
    background-color: $neutral-light;
}

form {
    position: relative;
}

input,
button,
input[type="radio"] + label {
    display: block;
    width: 100%;
    padding: 0.36rem 1rem;
    font-family: $ff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: $roundness;
}

input {
    text-align: right;
    color: $neutral-dark-bg;
    background-color: $neutral-very-light;

    &:hover,
    &:focus {
        outline: 2px solid $primary-strong;
        cursor: pointer;
    }
}

input[type="radio"] + label {
    transition: 0.3s ease-in-out;

    &:hover {
        @include btn-theme($primary-light);
        cursor: pointer;
    }
}

input[type="radio"]:checked + label {
    @include btn-theme($primary-strong);
}

/* Turn off number input spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 0;
}

/* Used to hide the calculator description title */
.vh {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* ---------------------------------
   CALCULATOR STYLES
 */
.title {
    width: 5.44rem;
    margin: 0 auto;
    padding-top: 3.05rem;
    padding-bottom: 2.5rem;
}

.calc {
    margin: 0 auto;
    padding: 1.5rem;
    width: 100%;
    background-color: $white;
    border-radius: 1.5rem;

    @include respond-tablet {
        width: 90%;
    }

    @include respond-medium {
        display: flex;
        flex-direction: row;
        max-width: 57.5rem;
    }
}

.calc__label {
    display: block;
    padding-top: 0.55rem;
    padding-bottom: 0.5rem;
    font-size: 0.98rem;
}

/* Calculator input part */
.calc__input {
    padding: 0 0.5rem;

    @include respond-medium {
        flex-basis: 50%;
        padding: 1rem;
    }
}

.calc__label--in-theme {
    color: label-fc(white);
}

.calc__in-bill {
    background-image: url("../images/icon-dollar.svg");
    background-repeat: no-repeat;
    background-position: center left 1rem;

    @include placehold-style;
}

.calc__tips {
    padding-top: 1.4rem;
    padding-bottom: 1rem;
}

.calc__tips-btns {
    display: grid;
    padding-top: 0.52rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @include respond-tiny-width {
        grid-template-columns: repeat(1, 1fr);
    }

    @include respond-tablet {
        grid-template-columns: repeat(3, 1fr);
    }

    @include respond-medium {
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond-desktop {
        grid-template-columns: repeat(3, 1fr);
    }
}

.calc__tip-btn {
    @include btn-theme($neutral-dark-bg);
}

.calc__tip-field {
    @include placehold-style;
    &::placeholder {
        color: $neutral-dark-56;
    }
}

.calc__in-num-pple {
    background-image: url("../images/icon-person.svg");
    background-repeat: no-repeat;
    background-position: center left 1rem;

    @include placehold-style;
}

/* Calculator output part */
.calc__output {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.8rem 0;
    padding: 1.3rem;
    background-color: $neutral-dark-bg;
    border-radius: 1rem;

    @include respond-medium {
        flex-basis: 50%;
        margin: 0;
    }
}

.calc__results {
    padding: 0.5rem 0;
}

.calc__results-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;

    @include respond-tiny-width {
        flex-direction: column;
    }
}

.calc__label--out-theme {
    color: label-fc($neutral-dark-bg);

    span {
        font-size: 0.8rem;
        color: $neutral-dark-56;
    }
}

.calc__result {
    font-size: 2rem;
    color: $primary-strong;
}

.calc__reset {
    font-size: 1.25rem;
    text-transform: uppercase;
    @include btn-theme($neutral-dark-bg-bright);
}

.calc__reset--active {
    @include btn-theme($primary-strong);
    transition: 0.3s ease-in-out;

    &:hover {
        @include btn-theme($primary-light);
        cursor: pointer;
    }
}
