@use "utilities" as *;
@use "mixins" as *;

body {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    width: 100%;
    font-family: $ff;
    font-size: $fs;
    font-weight: 700;
    color: $neutral-dark-43;
    background-color: $neutral-light;
}

main {
    margin-top: 7rem;
}

form {
    position: relative;
}

input,
button,
input[type="radio"] + label {
    display: block;
    width: 100%;
    padding: 0.4rem 1rem;
    font-family: $ff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: $roundness;
}

input {
    text-align: right;
    color: $neutral-dark-bg;
    background-color: $neutral-very-light;

    &:hover,
    &:focus {
        outline: 2px solid $primary-strong;
        cursor: pointer;
    }
}

input[type="radio"] + label {
    transition: 0.2s ease-in-out;

    &:hover {
        @include btn-theme($primary-light);
        cursor: pointer;
    }
}

input[type="radio"]:checked + label {
    @include btn-theme($primary-strong);
}

/* Turn off number input spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 0;
}

/* Used to hide the calculator description title */
.vh {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* ---------------------------------
   CALCULATOR STYLES
 */
.title {
    width: 5.44rem;
    margin: 0 auto;
    padding-top: 3.1rem;
    padding-bottom: clamp(2.5rem, 7vw, 5.5rem);
}

.calc {
    margin: 0 auto;
    // padding: clamp(1.5rem, 4.5vw, 2rem);
    padding: 1.5rem;
    width: 100%;
    background-color: $white;
    border-radius: 1.5rem;

    @include respond-tablet {
        width: 90%;
    }

    @include respond-medium {
        display: flex;
        flex-direction: row;
        max-width: 57.5rem;
        padding: 0;
    }
}

.calc__label {
    display: block;
    padding-top: 0.6rem;
    padding-bottom: 0.3rem;
    font-size: 0.98rem;

    @include respond-medium {
        padding-top: 0.9rem;
    }
}

/* Calculator input part */
.calc__input {
    padding: 0 0.5rem;

    @include respond-medium {
        flex-basis: 50%;
        margin: 2rem;
        margin-right: 0;
        padding: 0 1rem 1rem 1rem;
    }
}

.calc__label--in-theme {
    color: label-fc(white);
}

.calc__in-bill {
    background-image: url("../images/icon-dollar.svg");
    background-repeat: no-repeat;
    background-position: center left 1rem;

    @include placehold-style;
}

.calc__tips {
    padding-top: 1.66rem;
    padding-bottom: 1.6rem;
}

.calc__tips-btns {
    display: grid;
    padding-top: 0.6rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @include respond-tiny-width {
        grid-template-columns: repeat(1, 1fr);
    }

    @include respond-tablet {
        grid-template-columns: repeat(3, 1fr);
    }

    @include respond-medium {
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond-desktop {
        grid-template-columns: repeat(3, 1fr);
    }
}

.calc__tip-btn {
    @include btn-theme($neutral-dark-bg);

    @include respond-medium {
        transition: transform 0.5s;

        &:active {
            transform: scale(0.9);
        }
    }
}

.calc__tip-field {
    padding: 0.4rem 0.75rem;
    @include placehold-style;

    &::placeholder {
        color: $neutral-dark-56;
    }
}

.calc__in-num-pple {
    background-image: url("../images/icon-person.svg");
    background-repeat: no-repeat;
    background-position: center left 1rem;

    @include placehold-style;
}

/* Calculator output part */
.calc__output {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 0;
    padding: 1.5rem;
    background-color: $neutral-dark-bg;
    border-radius: 1rem;

    @include respond-medium {
        flex-basis: 50%;
        margin: 2rem;
        padding: 2.25rem 2.5rem;
    }
}

.calc__results {
    padding: 0.4rem 0;
}

.calc__results-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;

    @include respond-tiny-width {
        flex-direction: column;
    }
}

.calc__label--out-theme {
    color: label-fc($neutral-dark-bg);

    span {
        font-size: 0.8rem;
        color: $neutral-dark-56;
    }
}

.calc__result {
    font-size: clamp(2rem, 5vw, 2.9rem);
    color: $primary-strong;
}

.calc__reset {
    margin-top: 0.56rem;
    padding: 0.6rem 1rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    @include btn-theme($neutral-dark-bg-bright);
    
    @include respond-medium {
        transition: all 0.7s;

        &:active {
            transform: scale(0.9);
        }
    }
}

.calc__reset--active {
    @include btn-theme($primary-strong);
    transition: 0.3s ease-in-out;

    &:hover {
        @include btn-theme($primary-light);
        cursor: pointer;
    }
}
