@use 'mixins' as *;

.error {
    position: absolute;
    top: 5.5rem;
    right: 0;
    display: none;
    font-size: 0.95rem;
    color: red;

    @include respond-medium {
        top: 1rem;
    }
}

.custom-tip-error {
    top: 15.65rem;

    @include respond-tiny-width {
        top: 27.8rem;
    }

    @include respond-tablet {
        top: 11.6rem;
    }

    @include respond-medium {
        top: 2.6rem;
    }

    @include respond-desktop {
        top: 2.6rem;
    }
}

.show-error {
    display: block;

    & ~ input[type='number'] {
        outline: 2px solid red;
    }
}