@use 'mixins' as *;

.error {
    position: absolute;
    top: 5.5rem;
    right: 0;
    display: none;
    font-size: 0.95rem;
    color: red;

    @include respond-medium {
        top: 1rem;
    }
}

.custom-tip-error {
    top: 3.2rem;

    @include respond-medium {
        top: 0;
    }
}

.show-error {
    display: block;

    & ~ input[type='number'] {
        outline: 2px solid red;
    }
}