@use "sass:color";

/* COLORS */
/* Primary */
$primary-strong: hsl(172, 67%, 45%);
$primary-light: color.adjust(color.adjust($primary-strong, $lightness: 20%), $whiteness: 20%);

/* Neutral */
$neutral-dark-bg: hsl(183, 100%, 15%);
$neutral-dark-bg-bright: color.adjust($neutral-dark-bg, $lightness: 5%);
$neutral-dark-43: hsl(186, 14%, 43%);
$neutral-dark-56: hsl(184, 14%, 56%);
$neutral-dark-56-light: color.adjust($neutral-dark-56, $lightness: 10%);

$neutral-light: hsl(185, 41%, 84%);
$neutral-very-light: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

/* FONTS */
/* Font size (form inputs) */
$fs: 24px;

/* Font family */
$ff: "Space Mono", sans-serif;

/* MEASURES */
$roundness: 0.3rem;

/* FUNCTIONS */
/* Labels font color */
@function label-fc($bg) {
    @if ($bg == $neutral-dark-bg) {
        @return $white;
    } @else {
        @return $neutral-dark-43;
    }
}

/* Buttons font color */
@function btn-fc($bg) {
    @if ($bg == $primary-strong or $bg == $primary-light or $bg == $neutral-dark-bg-bright) {
        @return $neutral-dark-bg;
    } @else {
        @return $white;
    }
}

@mixin btn-theme($bg) {
    color: btn-fc($bg);
    background-color: $bg;
}

/* Placeholders styles */
@mixin placehold-style {
    &::placeholder {
        color: $neutral-dark-56-light;
    }

    &:focus::placeholder {
        opacity: 0;
    }
}